<div class="card p-3">

    <!-- BUSQUEDA Y ADOPTADO OR NO ADOPTADO -->
    <p-card header="" class="m-2">
        <h1 class="title">Adopcion del Animal </h1>
        <div class="d-flex align-items-center">
            <p-toggleButton [(ngModel)]="mostrar" onLabel="ADOPTADOS" offLabel="NO ADOPTADOS" onIcon="pi pi-heart-fill"
                offIcon="pi pi-heart" style="flex: 20%;" (onChange)="cargar()"></p-toggleButton>

            <span class="p-input-icon-left" style="flex: 50%;">
                <i class="pi pi-search"></i>
                <input placeholder="Buscar Mascota" type="text" id="isTextDigit" name="isTextDigit" pInputText
                    style="width: 100%;" [(ngModel)]="mostrarbusqueda" (ngModelChange)="cargar()" />
            </span>
        </div>
    </p-card>

    <!-- PAGINACION, TARGETAS -->
    <p-dataView #dv [value]="listAnimal" responsiveLayout="scroll" [paginator]="true" [rows]="10" [lazy]="true"
        (onLazyLoad)="loadAnimalLazy($event)" dataKey="idAnimal" [totalRecords]="totalAnimal"
        [showCurrentPageReport]="true" [loading]="loadingAnimal" filterBy="nombreAnimal" layout="grid">
        <ng-template let-animal pTemplate="gridItem">

            <div class="col-12 md:col-3 ">
                <div class="animal-grid-item card">
                    <div class="animal-grid-item-content">
                        <img [src]="'https://bucketgtmt.s3.amazonaws.com/'+ animal.fotoAnimal"
                            [alt]="animal.nombreAnimal" />
                        <div class="animal-nombreAnimal">{{animal.nombreAnimal}}</div>
                        <div class="animal-placaAnimal">{{animal.placaAnimal}}</div>
                    </div>

                    <p-divider></p-divider>

                    <div class="animal-grid-item-top">
                        <div>
                            <span class="animal-raza">Raza: </span>
                            <span>{{animal.razaAnimal.nombreRaza}}</span>
                        </div>
                        <div>
                            <span class="animal-tipo">Tipo: </span>
                            <span>{{animal.razaAnimal.tipoAnimal.nombreTipo}}</span>
                        </div>
                        <div>
                            <span class="animal-edad">Edad: </span>
                            <span>{{animal.edadAnimal}}</span>
                        </div>
                    </div>

                    <p-divider></p-divider>

                    <div class="animal-grid-item-bottom">
                        <div class="row" *ngIf="mostrar == false">
                            <div class="col-10">
                                <button pButton pRipple label="Adoptar" icon="pi pi-user-plus" class="p-button-raised"
                                    (click)="openAllDialog(animal)" [disabled]="listavacia == true"></button>
                            </div>
                            <div class="col-2">
                                <button pButton pRipple icon="pi pi-bookmark"
                                    [ngClass]="{'p-button-secondary': !isButtonClicked(animal), 'p-button-warning': isButtonClicked(animal)}"
                                    (click)="selectAdopcion(animal); selectAdopcionclicked(animal)"></button>
                                <!-- <button pButton pRipple icon="pi pi-bookmark" *ngIf="isButtonClicked(animal)"
                                    [ngClass]="{'p-button-secondary': !isButtonClicked(animal), 'p-button-warning': isButtonClicked(animal)}"
                                    (click)="selectAdopcion(animal); selectAdopcionclicked(animal)"></button> -->
                            </div>
                        </div>
                        <p-button class="btnsize" icon="pi pi-eye" (onClick)="openAllDialog(animal)"
                            *ngIf="mostrar == true"> Ver </p-button>
                    </div>
                </div>
            </div>

        </ng-template>
    </p-dataView>

    <div class="row" *ngIf="listavacia == true">
        <div class="col-8">
            <button pButton pRipple label="Adoptar" icon="pi pi-user-plus" class="p-button-raised"
                (click)="openAllDialog(animal)"></button>
        </div>
        <div class="col-4">
            <button pButton pRipple label="Vaciar" icon="pi pi-trash" class="p-button-raised"
                (click)="CloseDialog()"></button>
        </div>
    </div>

    <!-- DIALOGO ADOPCION ANIMAL -->
    <p-dialog [(visible)]="adopcionAnimalDialog"
        [style]="{ width: screenWidth < 700 ? '100%' : '80%', padding: screenWidth < 700 ? '2%' : '' }"
        header="Adopcion" [modal]="true" styleClass="p-fluid" (onHide)="closeAllDialog()">
        <ng-template pTemplate="content">

            <!-- SELECCIONAR ADOPTANTE -->
            <p-panel header="Adoptante" [toggleable]="true">
                <div class="text-center">

                    <!-- ALL DATOS DEL SELECCIONADO -->
                    <div *ngIf="!isEmpty(persona); else notSubmittedContent">
                        <div class="">
                            <div class="card persona-card">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Información del Adoptante</h5>
                                    <div class="row mb-2">
                                        <div class="col">
                                            <label><strong>Identificación: </strong></label>
                                            <span> {{ persona.identificacion }}</span>
                                        </div>
                                    </div>

                                    <div class="row mb-1">
                                        <div class="col">
                                            <label><strong>Nombres:</strong> </label>
                                            <span><span> {{ persona.apellido1 }} {{ persona.apellido2 }}</span> {{
                                                persona.nombre1 }} {{ persona.nombre2 }} </span>
                                        </div>
                                    </div>

                                    <div class="row mb-1">
                                        <div class="col">
                                            <label><strong>Fecha de Nacimiento:</strong></label>
                                            <span> {{ persona.fechaNacimiento | date }}</span>
                                        </div>
                                        <div class="col">
                                            <label><strong>Dirección:</strong></label>
                                            <span> {{ persona.direccion }}</span>
                                        </div>
                                    </div>

                                    <div class="text-center mt-2" *ngIf="mostrar == false">
                                        <button pButton type="button" label="Editar" icon="pi pi-pencil"
                                            (click)="emptySelectedPerson()"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- TABLA SELECCION ADOPTANTE Y CONTROL -->
                    <ng-template #notSubmittedContent>
                        <div class="text-center">
                            <small class="p-error" *ngIf="submitted && isEmpty(persona)"><strong
                                    style="font-size: 14px;">Adoptante es
                                    requerido.</strong></small>
                        </div>

                        <span class="p-input-icon-left" style="flex: 50%;">
                            <i class="pi pi-search"></i>
                            <input placeholder="Buscar Persona" type="text" id="isTextDigit" name="isTextDigit"
                                pInputText style="width: 100%;" [(ngModel)]="mostrarbusquedaPersona"
                                (ngModelChange)="loadPersonalLazy()" />
                        </span>
                        <br>

                        <p-table [value]="lisPersona" selectionMode="single" responsiveLayout="scroll"
                            [paginator]="true" [rows]="3" [responsive]="true" [rowHover]="true"
                            (onRowSelect)="onRowSelect($event.data)" [lazy]="true"
                            (onLazyLoad)="loadPersonalLazy($event)" dataKey="idPersona" [totalRecords]="totalPersons"
                            [showCurrentPageReport]="true" [loading]="loadingPerson">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Nombres </th>
                                    <th>CI </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-person>
                                <tr [pSelectableRow]="rowData">
                                    <td>{{person.nombre1}} {{person.apellido1}}</td>
                                    <td>{{person.identificacion}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </ng-template>

                </div>
            </p-panel>

            <!-- REGISTRO DE ADOPCION -->
            <p-panel header="Adopcion" [toggleable]="true" styleClass="mt-4">
                <div class="grid p-fluid align-items-center">
                    <div class="col-12 md:col-12">
                        <div class="grid p-fluid align-items-center">

                            <div class="col-12 md:col-12">

                                <!-- ENCABESADO ADOPCION REGISTRO -->
                                <label for="fechaAnimal"><strong>Fecha de Adopcion</strong></label>
                                <span class="p-input-icon-right ">
                                    <div class="p-inputgroup">
                                        <input id="fechaAnimal" value="{{fechaAdoption}}" pInputText disabled="true" />
                                    </div>
                                </span>

                                <label for="observacionesAdopcion"><strong>Observaciones</strong></label>
                                <span class="p-input-icon-right ">
                                    <textarea rows="5" cols="30" id="observacionesAdopcion" pInputTextarea
                                        [disabled]="mostrar"
                                        [(ngModel)]="encabezadoAdopcionObject.observacion"></textarea>
                                </span>
                                <small class="p-error"
                                    *ngIf="submitted && !encabezadoAdopcionObject.observacion && mostrar == false">Observaciones
                                    is
                                    required.</small>

                                <div class="row">
                                    <!-- DATOS ANIMAL SELECCIONADO ONE -->
                                    <div class="col-12 md:col-6" *ngIf="multipleAnimal == false">
                                        <p-scrollPanel [style]="{ width: '100%', height: '650px' }">

                                            <p-fieldset legend="Datos Animal"
                                                [style]="{ width: '100%', height: '100%' }">
                                                <div class="row">
                                                    <div class="col-12 md:col-6">
                                                        <label for="nombreAnimal"><strong>Nombre Animal</strong></label>
                                                        <span class="p-input-icon-right">
                                                            <div class="p-inputgroup">
                                                                <input value="{{animalSelect.nombreAnimal}}"
                                                                    id="nombreAnimal" pInputText disabled="true" />
                                                            </div>
                                                        </span>
                                                    </div>

                                                    <div class="col-12 md:col-6">
                                                        <label for="placaAnimal"><strong>Placa Animal</strong></label>
                                                        <span class="p-input-icon-right ">
                                                            <div class="p-inputgroup">
                                                                <input value="{{animalSelect.placaAnimal}}"
                                                                    id="placaAnimal" pInputText disabled="true" />
                                                            </div>
                                                        </span>
                                                    </div>

                                                    <div class="col-12 md:col-4">
                                                        <label for="edadAnimal"><strong>Edad del Animal</strong></label>
                                                        <span class="p-input-icon-right ">
                                                            <div class="p-inputgroup">
                                                                <input value="{{animalSelect.edadAnimal}}"
                                                                    id="placaAnimal" pInputText disabled="true" />
                                                            </div>
                                                        </span>
                                                    </div>

                                                    <div class="col-12 md:col-4">
                                                        <label for="tipoAnimal"><strong>Tipo del Animal</strong></label>
                                                        <span class="p-input-icon-right ">
                                                            <div class="p-inputgroup">
                                                                <input value="{{tipoAnimalSelect}}" id="placaAnimal"
                                                                    pInputText disabled="true" />
                                                            </div>
                                                        </span>
                                                    </div>

                                                    <div class="col-12 md:col-4">
                                                        <label for="razaAnimal"><strong>Raza del Animal</strong></label>
                                                        <span class="p-input-icon-right ">
                                                            <div class="p-inputgroup">
                                                                <input value="{{razaAnimalSelect}}" id="placaAnimal"
                                                                    pInputText disabled="true" />
                                                            </div>
                                                        </span>
                                                    </div>

                                                    <div class="col-12 md:col-12">
                                                        <label for="fotoAnimal"><strong>Foto del Animal</strong></label>
                                                        <p-card>
                                                            <section class="seccion-animal-foto mb-5 mt-3">
                                                                <div class="imagen-container">
                                                                    <img [src]="'https://bucketgtmt.s3.amazonaws.com/'+ animalSelect.fotoAnimal"
                                                                        [alt]="animalSelect.nombreAnimal" width="30%" />
                                                                </div>
                                                            </section>
                                                        </p-card>
                                                    </div>
                                                </div>
                                            </p-fieldset>
                                        </p-scrollPanel>
                                    </div>
                                    <!-- DATOS ANIMAL SELECCIONADO MORE -->
                                    <div class="col-12 md:col-6" *ngIf="multipleAnimal">
                                        <p-scrollPanel [style]="{ width: '100%', height: '650px' }">
                                            <p-fieldset legend="Datos Animal"
                                                [style]="{ width: '100%', height: '100%' }">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <p-dataView #dv [value]="listAnimalSelectAdopcion"
                                                            [style]="{ width: '100%', height: '100%' }"
                                                            filterBy="nombreAnimal" layout="list">
                                                            <ng-template let-animal pTemplate="listItem"
                                                                dataKey="idAnimal" [totalRecords]="totalAnimal"
                                                                [showCurrentPageReport]="true" [loading]="loadingAnimal"
                                                                responsiveLayout="scroll" [responsive]="true"
                                                                [rowHover]="true" [lazy]="true"
                                                                (onLazyLoad)="loadAnimalLazy($event)">

                                                                <div class="col-12">
                                                                    <div
                                                                        class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                                                                        <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round"
                                                                            [src]="'https://bucketgtmt.s3.amazonaws.com/'+ animal.fotoAnimal"
                                                                            [alt]="animal.nombreAnimal" />
                                                                        <div
                                                                            class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                                                                            <div
                                                                                class="flex flex-column align-items-center sm:align-items-start gap-3">
                                                                                <div
                                                                                    class="text-2xl font-bold text-900">
                                                                                    {{animal.nombreAnimal}} :
                                                                                    {{animal.placaAnimal}}</div>

                                                                                <div
                                                                                    class="flex align-items-center gap-3">
                                                                                    <span
                                                                                        class="flex align-items-center gap-2">
                                                                                        <span
                                                                                            class="font-semibold">Raza:
                                                                                            {{animal.razaAnimal.nombreRaza}}</span>
                                                                                        <span
                                                                                            class="font-semibold">Tipo:
                                                                                            {{animal.razaAnimal.tipoAnimal.nombreTipo}}</span>
                                                                                        <span
                                                                                            class="font-semibold">Edad:
                                                                                            {{animal.edadAnimal}}</span>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </ng-template>
                                                        </p-dataView>
                                                    </div>
                                                </div>
                                            </p-fieldset>
                                        </p-scrollPanel>
                                    </div>

                                    <!-- REGISTRO DETALLE ADOPCION -->
                                    <div class="col-12 md:col-6">
                                        <p-scrollPanel [style]="{ width: '100%', height: '650px' }">
                                            <p-fieldset legend="Detalle Adopcion"
                                                [style]="{ width: '100%', height: '100%' }">
                                                <label for="observacionesAdopcionDetalle"><strong>Observaciones
                                                        Detalle</strong></label>
                                                <span class="p-input-icon-right ">
                                                    <textarea rows="5" cols="30" id="observacionesAdopcionDetalle"
                                                        [disabled]="mostrar" pInputTextarea
                                                        [(ngModel)]="detalleEncabesadoObject.observacion"></textarea>
                                                </span>
                                                <small class="p-error"
                                                    *ngIf="submitted && !detalleEncabesadoObject.observacion && mostrar == false">Observaciones
                                                    Detalle is
                                                    required.</small>
                                                <br>

                                                <label for="fotoAnimal"><strong>Foto del Animal</strong></label>
                                                <p-card>

                                                    <div class="perfil-usuario-portada" *ngIf="mostrar == true">
                                                        <!-- <label for="fotoAnimal"><strong>Archivo de
                                                            adopcion</strong></label> -->
                                                        <!-- <p-panel header="Foto Animal"> -->
                                                        <section class="seccion-animal-foto mb-5 mt-3">
                                                            <div class="imagen-container">
                                                                <img [src]="'https://bucketgtmt.s3.amazonaws.com/'+ animalSelect.fotoAnimal"
                                                                    [alt]="animalSelect.nombreAnimal" width="30%" />
                                                            </div>
                                                        </section>
                                                        <!-- </p-panel> -->
                                                    </div>

                                                    <!-- <p-panel header="Foto Animal" > -->
                                                    <section class="seccion-perfil-usuario mb-5 mt-3"
                                                        *ngIf="mostrar == false">
                                                        <div class="perfil-usuario-header">
                                                            <div class="perfil-usuario-portada">
                                                                <div class="perfil-usuario-avatar">
                                                                    <img [src]="avatarURL ? avatarURL: animal.fotoAnimal ? 'https://bucketgtmt.s3.amazonaws.com/' +animal.fotoAnimal: 'https://thumbs.dreamstime.com/b/icono-de-l%C3%ADnea-documento-archivo-copia-simple-vector-relleno-plana-papel-s%C3%ADmbolo-delgado-logo-pictograma-negro-s%C3%B3lido-aislado-271230212.jpg'"
                                                                        alt="img-avatar" height="165px">
                                                                    <input type="file" #fileInput style="display: none;"
                                                                        accept="application/pdf, image/jpeg, image/jpg, image/png"
                                                                        (change)="onBasicUpload($event)">

                                                                    <button type="button" class="boton-avatar"
                                                                        pTooltip="Foto Animal" tooltipPosition="bottom">

                                                                        <i class="fas fa-camera"
                                                                            style="font-size: 1.3rem"
                                                                            (click)="fileInput.click()"></i>
                                                                    </button>
                                                                </div>
                                                                <div class="text-center">
                                                                    <small class="p-error"
                                                                        *ngIf="submitted && !avatarURL  && mostrar == false"><strong
                                                                            style="font-size: 14px;">Foto
                                                                            es
                                                                            requerido.</strong></small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <!-- </p-panel> -->
                                                </p-card>
                                            </p-fieldset>
                                        </p-scrollPanel>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="listavacia == true">
                    <div class="col-8">
                        <button pButton pRipple label="Adoptar" icon="pi pi-user-plus" class="p-button-raised"
                            *ngIf="mostrar == false" (click)="saveAdopcionList()"></button>
                    </div>
                    <div class="col-4">
                        <button pButton pRipple label="Vaciar" icon="pi pi-trash" class="p-button-raised"
                            (click)="CloseDialog()"></button>
                    </div>
                </div>
                <div *ngIf="listavacia == false">
                    <button pButton pRipple label="Adoptar" icon="pi pi-user-plus" class="p-button-raised"
                        *ngIf="mostrar == false" (click)="saveAdopcion()"></button>
                </div>
            </p-panel>
        </ng-template>
    </p-dialog>
</div>