<div class="card p-3">

	<p-toolbar styleClass="mb-3 gap-2">
		<ng-template pTemplate="left">
			<button pButton pRipple label="New" icon="pi pi-plus" class="p-button-primary mr-2"
				(click)="openNewAnimal()"></button>
		</ng-template>

		<ng-template pTemplate="right">
			<button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
		</ng-template>
	</p-toolbar>

	<p-table #dt [value]="listAnimal" [lazy]="true" (onLazyLoad)="loadRazaAnimalLazy($event)" dataKey="idAnimal"
		[tableStyle]="{ 'min-width': '75rem' }" [paginator]="true" [rows]="4" [totalRecords]="totalRecords"
		[rowHover]="true" currentPageReportTemplate="Mostrando {first} to {last} of {totalRecords}  Animales"
		[showCurrentPageReport]="true" [loading]="loading"
		[globalFilterFields]="['idAnimal', 'nombreAnimal', 'tipoAnimal.nombreTipo']">

		<ng-template pTemplate="caption">

			<div class="grid p-fluid align-items-center">
				<div class="col-12 md:col-8">
					<div class="p-inputgroup">
						<h5 class="m-0"><strong>REGISTRO DE ANIMAL</strong></h5><br>
					</div>
				</div>

				<div class="col-12 md:col-4">
					<div class="p-inputgroup">
						<input type="text" [(ngModel)]="valueAtribute" pInputText placeholder="Search by name raza.." />
						<button type="button" pButton pRipple [class]="submitFindAtribute ? 'p-button-danger' : ''"
							[icon]="'pi' + (submitFindAtribute ? ' pi-times' : ' pi-search')" styleClass="p-button-warn"
							[disabled]="valueAtribute ? false: true"
							(click)="submitFindAtribute ? clearInputAndStatus() : findByAtributeName(1) "></button>
					</div>

				</div>

			</div>

		</ng-template>


		<ng-template pTemplate="header">
			<tr>
				<th pSortableColumn="idAnimal" style="min-width:15rem"><strong>ID</strong> <p-sortIcon
						field="idAnimal"></p-sortIcon></th>

				<th pSortableColumn="fotoAnimal" style="min-width:15rem"><strong>FOTO</strong> <p-sortIcon
						field="fotoAnimal"></p-sortIcon>
				</th>

				<th pSortableColumn="nombreAnimal" style="min-width:15rem"><strong>NOMBRE</strong> <p-sortIcon
						field="nombreAnimal"></p-sortIcon></th>

				<th pSortableColumn="placaAnimal" style="min-width:15rem"><strong>PLACA</strong> <p-sortIcon
						field="placaAnimal"></p-sortIcon></th>

				<th pSortableColumn="estadoAnimal" style="min-width:15rem"><strong>ESTADO</strong> <p-sortIcon
						field="estadoAnimal"></p-sortIcon>
				</th>
				<th></th>


			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-animal>
			<tr>

				<td>{{ animal.idAnimal }}</td>
				<td><img [src]="'https://bucketgtmt.s3.amazonaws.com/'+ animal.fotoAnimal" width="100" height="60"
						class="shadow-6" /></td>

				<td>{{ animal.nombreAnimal }}</td>
				<td>{{ animal.placaAnimal }}</td>
				<td>{{ animal.estadoAnimal }}</td>

				<td>
					<button pButton pRipple icon="pi pi-pencil"
						class="p-button-rounded p-button-success p-button-outlined mr-2"
						(click)="editAnimal(animal)"></button>

					<!-- <button pButton pRipple [icon]="razaAnimal.estadoRaza === 'A' ? 'pi pi-check' : 'pi pi-trash'"
						[ngClass]="'p-button-rounded ' + (razaAnimal.estadoRaza === 'A' ? 'p-button-secondary' : 'p-button-danger') + ' p-button-outlined mt-1'"
						(click)="eliminadoLogicoDeLosTiposAnimales(razaAnimal)">
					</button> -->

				</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="summary">
			<div class="flex align-items-center justify-content-between">En total son {{ listAnimal ?
				totalRecords : 0 }} Animales.</div>
		</ng-template>
	</p-table>
</div>



<p-dialog [(visible)]="razaAnimalDialog"
	[style]="{ width: screenWidth < 700 ? '100%' : '80%', padding: screenWidth < 700 ? '2%' : '' }"
	header="REGISTRO ANIMAL" [modal]="true" styleClass="p-fluid">
	<ng-template pTemplate="content">


		<p-panel header="Rescatista" [toggleable]="true">


			<div class="text-center">


				<div *ngIf="!isEmpty(persona); else notSubmittedContent">
					<div class="">
						<div class="card persona-card">

							<div class="card-body">
								<h5 class="card-title text-center">Información del Rescatista</h5>
								<div class="row mb-2">

									<div class="col">
										<label><strong>Identificación: </strong></label>
										<span> {{ persona.identificacion }}</span>
									</div>
								</div>
								<div class="row mb-1">
									<div class="col">
										<label><strong>Nombres:</strong> </label>
										<span><span> {{ persona.apellido1 }} {{ persona.apellido2 }}</span> {{
											persona.nombre1 }} {{ persona.nombre2 }} </span>
									</div>

								</div>
								<div class="row mb-1">
									<div class="col">
										<label><strong>Fecha de Nacimiento:</strong></label>
										<span> {{ persona.fechaNacimiento | date }}</span>
									</div>
									<div class="col">
										<label><strong>Dirección:</strong></label>
										<span> {{ persona.direccion }}</span>
									</div>
								</div>
								<div class="text-center mt-2">
									<button pButton type="button" label="Editar" icon="pi pi-pencil"
										(click)="emptySelectedPerson()"
										[disabled]="animal.idAnimal ? true : false"></button>
								</div>
							</div>
						</div>
					</div>

				</div>

				<ng-template #notSubmittedContent>

					<div class="text-center">
						<small class="p-error" *ngIf="submitted && isEmpty(persona)"><strong
								style="font-size: 14px;">Rescatista es
								requerido.</strong></small>
					</div>

					<div class=" container">
						<div class="row justify-content-center">
							<div class="col-12 col-md-6">
								<!-- Ajusta el valor de 'col-md-6' según el tamaño deseado -->
								<div class="p-inputgroup">
									<button type="button" pButton pRipple icon="pi pi-filter-slash"
										styleClass="p-button-success" [disabled]="valueAtributeCI ? false : true"
										pTooltip="Quitar busqueta" tooltipPosition="bottom"></button>

									<input type="text" pInputText placeholder="Cédula.." [(ngModel)]="valueAtributeCI">
									<button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-warn"
										[disabled]="valueAtributeCI ? false : true" (click)="findByAtributeName(2)"
										pTooltip="Buscar" tooltipPosition="bottom"></button>
								</div>
							</div>
						</div>
					</div>

					<!-- TABLE OF PERSON -->
					<p-table [value]="lisPersona" selectionMode="single" responsiveLayout="scroll" [paginator]="true"
						[rows]="3" [responsive]="true" [rowHover]="true" (onRowSelect)="onRowSelect($event.data)"
						[lazy]="true" (onLazyLoad)="loadPersonalLazy($event)" dataKey="idPersona"
						[totalRecords]="totalPersons" [showCurrentPageReport]="true" [loading]="loadingPerson">
						<ng-template pTemplate="header">
							<tr>
								<th>Nombres </th>
								<th>CI </th>

							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-rowData let-person>
							<tr [pSelectableRow]="rowData">
								<td>{{person.nombre1}} {{person.apellido1}}</td>

								<td>{{person.identificacion}}</td>
							</tr>
						</ng-template>
					</p-table>
					<!-- END TABLE PERSON -->
				</ng-template>


			</div>


		</p-panel>

		<!-- ANIMAL REGISTER -->
		<p-panel header="Datos Animal" [toggleable]="true" styleClass="mt-4">

			<div class="grid p-fluid align-items-center">
				<div class="col-12 md:col-8">

					<div class="grid p-fluid align-items-center">
						<div class="col-12 md:col-6">
							<label for="nombreRaza"><strong>Nombre Animal</strong></label>
							<span class="p-input-icon-right ">
								<i class="pi pi-info-circle"
									[style.color]="submitted && !animal.nombreAnimal ? 'red':''"></i>
								<div class="p-inputgroup">
									<input type="text" [(ngModel)]="animal.nombreAnimal"
										[class]="submitted && (!animal.nombreAnimal) ? 'ng-invalid ng-dirty':''"
										id="nombreAnimal" name="nombreAnimal" pInputText placeholder="Nombre.." required
										pTooltip="Nombre Animal" tooltipPosition="bottom" />
								</div>
							</span>
							<small class="p-error" *ngIf="submitted && !animal.nombreAnimal">Name is required.</small>

						</div>

						<div class="col-12 md:col-6">
							<label for="nombreRaza"><strong>Placa Animal</strong></label>

							<div class="p-inputgroup">

								<input type="text" [(ngModel)]="animal.placaAnimal"
									[class]="submitted && (!animal.placaAnimal || errorUnique) ? 'ng-invalid ng-dirty':''"
									id="placaAnimal" name="placaAnimal" pInputText placeholder="Placa.." readonly
									required pTooltip="Placa Animal" tooltipPosition="bottom">
								<button type="button" pButton pRipple
									[icon]="'pi ' + (animal.placaAnimal ? 'pi-refresh' : 'pi-key')"
									styleClass="p-button-warn" (click)="generatePlacaAnimal(8)"
									[disabled]="animal.idAnimal ? true : false"></button>
							</div>
							<small class="p-error" *ngIf="submitted && !animal.placaAnimal">Placa is required.</small>

						</div>

					</div>

					<div class="grid p-fluid align-items-center mt-2">
						<div class="col-12 md:col-6">
							<label for="nombreRaza"><strong>Edad Animal</strong></label>

							<div class="p-inputgroup">

								<p-inputNumber [(ngModel)]="animal.edadAnimal" [showButtons]="true"
									inputId="minmax-buttons" [min]="0" [max]="15"
									[class]="submitted && (!animal.edadAnimal) ? 'ng-invalid ng-dirty':''"
									id="edadAnimal" name="edadAnimal" placeholder="Edad.." pTooltip="Edad"
									tooltipPosition="bottom">
								</p-inputNumber>

							</div>

							<small class="p-error" *ngIf="submitted && !animal.edadAnimal">Edad is required.</small>

						</div>
					</div>

					<div class="grid p-fluid align-items-center mt-2">
						<div class="col-12 md:col-6">
							<div class="field">
								<label for="nombreRaza"><strong>Tipo Animal</strong></label>
								<p-dropdown [options]="listTipoAnimal" [(ngModel)]="tipoAnimal" optionLabel="nombreTipo"
									(ngModelChange)="eventCatchTipoFilter($event)" [filter]="true" filterBy="nombreTipo"
									[showClear]="true" placeholder="Seleccione tipo" appendTo="body"
									[style]="{'overflow-y': 'auto'}" pTooltip="Tipo Animal" tooltipPosition="bottom">
									<ng-template pTemplate="selectedItem">

										<div class="flex align-items-center gap-2" *ngIf="tipoAnimal">
											<div>{{ tipoAnimal.nombreTipo }}</div>
										</div>
									</ng-template>
									<ng-template let-country pTemplate="item" [style.max-height.rem]="2 * 2">
										<div class="flex align-items-center gap-2">
											<div>{{ country.nombreTipo }}</div>
										</div>
									</ng-template>
								</p-dropdown>
								<small class="p-error" *ngIf="submitted && isEmpty(tipoAnimal)">Tipo animal is
									required.</small>

							</div>
						</div>

						<div class="col-12 md:col-6">
							<div class="field">
								<label for="nombreRaza"><strong>Raza Animal</strong></label>

								<p-dropdown [options]="listRazaFiltered" [(ngModel)]="razaAnimal"
									optionLabel="nombreRaza" [filter]="true" filterBy="nombreRaza" [showClear]="true"
									placeholder="Raza Animal" appendTo="body" [style]="{'overflow-y': 'auto'}"
									[disabled]="isEmpty(tipoAnimal) ? true : false" pTooltip="Raza Animal"
									tooltipPosition="bottom">
									<ng-template pTemplate="selectedItem">

										<div class="flex align-items-center gap-2" *ngIf="razaAnimal">
											<div>{{ razaAnimal.nombreRaza }}</div>
										</div>
									</ng-template>
									<ng-template let-country pTemplate="item" [style.max-height.rem]="2 * 2">
										<div class="flex align-items-center gap-2">
											<div>{{ country.nombreRaza }}</div>
										</div>
									</ng-template>
								</p-dropdown>
								<small class="p-error" *ngIf="submitted && isEmpty(razaAnimal)">Raza animal is
									required.</small>

							</div>
						</div>
					</div>

				</div>

				<div class="col-12 md:col-4">

					<p-panel header="Foto Animal">

						<section class="seccion-perfil-usuario mb-5 mt-3">
							<div class="perfil-usuario-header">
								<div class="perfil-usuario-portada">
									<div class="perfil-usuario-avatar">
										<img [src]="avatarURL ? avatarURL: animal.fotoAnimal ? 'https://bucketgtmt.s3.amazonaws.com/' +animal.fotoAnimal: 'https://us.123rf.com/450wm/dervish37/dervish371805/dervish37180500017/101552833-icono-de-vector-gato-y-perro.jpg?ver=6'"
											alt="img-avatar" height="165px">
										<input type="file" #fileInput style="display: none;"
											accept="image/jpeg, image/jpg, image/png" (change)="onBasicUpload($event)">

										<button type="button" class="boton-avatar" pTooltip="Foto Animal"
											tooltipPosition="bottom">

											<i class="fas fa-camera" style="font-size: 1.3rem"
												(click)="fileInput.click()"></i>
										</button>
									</div>
									<div class="text-center">
										<small class="p-error" *ngIf="submitted && !avatarURL"><strong
												style="font-size: 14px;">Foto
												es
												requerido.</strong></small>
									</div>

								</div>
							</div>
						</section>
					</p-panel>

				</div>



			</div>

		</p-panel>

		<!-- FICHA REGISTRO -->
		<p-panel header="Ficha Registro" [toggleable]="true" styleClass="mt-4">
			<div class="grid p-fluid mt-2">
				<div class="col-12 md:col-8">
					<div class="field">

						<p-dropdown [options]="listIncomeSituation" [(ngModel)]="catchIncomeSituation"
							optionLabel="nombreSituacionIngreso" [filter]="true" filterBy="nombreSituacionIngreso"
							[showClear]="true" placeholder="Situación Ingreso" appendTo="body"
							[style]="{'overflow-y': 'auto'}" pTooltip="Situación ingreso" tooltipPosition="bottom">
							<ng-template pTemplate="selectedItem">

								<div class="flex align-items-center gap-2" *ngIf="catchIncomeSituation">
									<div>{{ catchIncomeSituation.nombreSituacionIngreso }}</div>
								</div>
							</ng-template>
							<ng-template let-country pTemplate="item" [style.max-height.rem]="2 * 2">
								<div class="flex align-items-center gap-2">
									<div>{{ country.nombreSituacionIngreso }}</div>
								</div>
							</ng-template>
						</p-dropdown>
						<small class="p-error" *ngIf="submitted && isEmpty(catchIncomeSituation)">Situación ingreso es
							requerido.</small>

					</div>
				</div>

				<div class="col-12 md:col-4">
					<p-button label="AÑADIR SITUACIÓN" icon="pi pi-plus"
						(onClick)="openDialogIconmeSituation()"></p-button>

				</div>

			</div>

			<div class="container mt-3">
				<div class="row justify-content-center">
					<div class="col-12 col-md-6">
						<div class="field">

							<label for="nombreRaza"><strong>Descripción</strong></label>
							<textarea id="descripcionFichaRegistro" name="descripcionFichaRegistro"
								[class]="submitted && (!fichaRegister.descripcionFichaRegistro) ? 'ng-invalid ng-dirty':''"
								pInputTextarea rows="3" cols="20" [(ngModel)]="fichaRegister.descripcionFichaRegistro"
								required placeholder="Ingrese descripcion." pTooltip="Descripción"
								tooltipPosition="bottom"></textarea>

							<small class="p-error"
								*ngIf="submitted && !fichaRegister.descripcionFichaRegistro">Descripción
								ingreso
								es
								requerido.</small>

						</div>
					</div>
				</div>
			</div>
		</p-panel>



	</ng-template>

	<ng-template pTemplate="footer">
		<button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
		<button pButton pRipple [label]=" animal.idAnimal ? 'Actualizar': 'Guardar'" icon="pi pi-save"
			class="p-button-text" (click)="saveAndUpdateAnimal()"></button>
	</ng-template>
</p-dialog>


<!-- [style]="{ width: screenWidth < 700 ? '100%' : '80%' , padding: screenWidth < 700 ? '2%' : '' }" -->
<p-dialog [(visible)]="dialogIncomeSituation" [style]="{ width: '450px', padding: screenWidth < 700 ? '10px' : '' }"
	header="Situación ingreso" [modal]="true" styleClass="p-fluid">
	<ng-template pTemplate="content">
		<div class="field">
			<label for="name">Nombre situación</label>
			<input type="text" pInputText id="name" [(ngModel)]="incomeSituation.nombreSituacionIngreso" required
				autofocus />
			<small class="p-error" *ngIf="submittedIncomeSituation && !incomeSituation.nombreSituacionIngreso">Name is
				required.</small>
		</div>
	</ng-template>

	<ng-template pTemplate="footer">
		<button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
			(click)="closeDialogIconmeSituation()"></button>
		<button pButton pRipple [label]="'Guardar'" icon="pi pi-save" class="p-button-text"
			(click)="saveIncomeSituation()"></button>
	</ng-template>
</p-dialog>