<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Yarn Over</title>
</head>

<body>

  <section class="titles">

    <h1>FUNDACIÓN FAAN</h1>
    <h4>Familia, Amor y Animal</h4>

   
    <br>
  </section>

  <section>

    <div class="video-youtube">

        <iframe width="560" height="315" src="https://www.youtube.com/embed/02VY3wCVV64" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

  </section>

  <section class="titles">

    <h1>Como Llegar</h1>
    <h4>sigue el video</h4>

    <br>
    <br>

    <div class="video-youtube">

        <iframe width="560" height="315" src="https://www.youtube.com/embed/wCZjk1SDTG4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </section>

  <br>
  <br>
  <br>
    <br>

    <br>
  <br>
  <br>
    <br>

    <br>
  <br>
  <br>
    <br>

  <section class="container-boxes">
    <div class="box">
      <div class="text">
        <a href="">
          <h3>QUIENES SOMOS</h3>
          <p>FAAN es un grupo de defensa animal, sin ánimo de lucro, que tiene como finalidad ayudar y acoger a cuantos animales abandonados en situaciones de riesgo se pueda, a su vez busca crear conciencia en cuanto al respeto animal.</p>
        </a>
      </div>

    </div>

    <div class="box">

  

      <div class="text">
        <a href="">
          <h3>OBJETIVOS</h3>
          <p>
            • Rescatar animales abandonados en situación de riesgo y buscarles un hogar responsable luego de haber tenido atención médica oportuna y rehabilitación social en caso de requerirse.
            <br>• Disminuir el maltrato animal creando conciencia acerca del tema.
            <br>• Fomentar la importancia de la esterilización de animales de compañía para evitar la sobrepoblación.
            <br>• Reducir el número de animales abandonados</p>
        </a>
      </div>

    </div>

    <div class="box">

   

      <div class="text">
        <a href="">
          <h3>FINANCIAMIENTO
        </h3>
          <p>Nos financiamos de las donaciones realizadas por personas particulares o empresas que desean aportar con nuestra causa , además de recaudar fondos mediante diversas actividades realizadas por el grupo , tales como ventas de artículos donados, realización de rifas, eventos y venta de productos varios.</p>
        </a>
      </div>

    </div>
  </section>

</body>


</html>