* {
    box-sizing: border-box;
  }
  
  html {
    margin: 0;
    padding: 0;
  }
  
  body{
    margin:0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(https://i.ibb.co/48v2hG8/vista-superior-alimentos-accesorios-mascotas.jpg) no-repeat;
    background-size: cover;
    color: black;
    font-family: "open sans";
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  

  /* ------------------------ TOP SECTION ----------------*/
  
  .titles{
    color: white;
    text-align: center;
    width: 40vw;
    margin: 0 auto;
    margin-top: 50px;
  }
  .titles h4{
    color: white;
    text-align: center;
    width: 40vw;
    margin: 0 auto;
  }

  .titles h1{
    font-family: Pacifico;
    font-size: 5rem;
    margin-bottom: 0;
    text-shadow: 1px 1px 0 black;
  
  }
  
  .titles p{
    letter-spacing: 3px;
    text-shadow: 1px 1px 0 black;
  }
  



   /*----------------------VIDEO--------------------------*/

   .video-youtube {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Aquí definimos la sombra con el valor 'rgba' para dar transparencia */
    padding: 20px; 
}


  /* ------------------------ BOT SECTION ----------------*/
  
  
  
  .container-boxes{
    margin: 0 auto;
    padding: 0;
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
    max-width: 90vw;
  }
  
  .box{
    background: rgba(255,255,255,.5);
    margin: 1rem;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 580px;
    max-height: 580px;
    min-height: 580px;
    transition: all 250ms ease-out;
  }
  
  .box:hover{
    background: rgba(255,255,255,.7);
    transform: translateY(-20%);
  }
  
  .box a{
    text-decoration: none;
    color: black;
  }
  
  .icon{
    font-size: 3rem;
    padding: 1rem;
  }
  
  .text h3{
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 0;
  }
  
  .text p{
    margin-top: 2rem;
    line-height: 1.5rem;
    text-align: left;
  }
  
  .text{
    padding: .4rem;
  }
  
  
  /* MEDIAQUERIES */
  
  
  @media (max-width: 1160px){
     .icon{
      font-size: 2rem;
      padding: 0.5rem;
    }
    .text h3{
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-bottom: 0;
      font-size: 1rem;
    }
  
    .text p{
      margin-top: 1rem;
      line-height: 1.5rem;
      text-align: left;
      font-size: .8rem;
    }
    nav li a:hover{
    background: none;
    color: black;
    }
  }
  
  
  @media (max-width: 850px){
    body{
      height: 100%;
    }
    .container-boxes{
      flex-direction: column;
    }
    .box:hover{
      background: rgba(255,255,255,.7);
      transform: none;
    }
    .titles h1{
    font-size: 3rem;
    }
  }



