<div>hola</div>



<div class="p-4">

    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="openNew()"></button>
            <!-- <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
        </ng-template>

        <ng-template pTemplate="right">
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="ListTipoAnimal" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
        [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando {first} to {last} of {totalRecords} tipos animales"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Products</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Search..." /> </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>

                <th pSortableColumn="idTipoAnimal" style="min-width:15rem"><strong>ID</strong> <p-sortIcon
                        field="idTipoAnimal"></p-sortIcon></th>

                <th pSortableColumn="nombreTipo"><strong>NOMBRE</strong> <p-sortIcon field="nombreTipo"></p-sortIcon>
                </th>

                <th pSortableColumn="descripcionAnimal" style="min-width:10rem"><strong>DESCRIPCIÓN</strong> <p-sortIcon
                        field="category"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tipoAnimal>
            <tr>

                <td>{{ tipoAnimal.idTipoAnimal }}</td>

                <td>{{ tipoAnimal.nombreTipo }}</td>
                <td>{{ tipoAnimal.descripcionAnimal }}</td>

                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-button-outlined mr-2"
                        (click)="editProduct(tipoAnimal)"></button>

                    <button pButton pRipple [icon]="tipoAnimal.estadoTipo === 'A' ? 'pi pi-check' : 'pi pi-trash'"
                        [ngClass]="'p-button-rounded ' + (tipoAnimal.estadoTipo === 'A' ? 'p-button-secondary' : 'p-button-danger') + ' p-button-outlined mt-1'"
                        (click)="eliminadoLogicoDeLosTiposAnimales(tipoAnimal)">
                    </button>

                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">En total son {{ ListTipoAnimal ?
                ListTipoAnimal.length : 0 }} Tipos de animales.</div>
        </ng-template>
    </p-table>
</div>
<p-dialog [(visible)]="tipoAnimalDialog" [style]="{ width: '450px' }" header="Product Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="nombreTipo"><strong>Nombre Tipo</strong></label>
            <!-- <input type="text" class=" ng-dirty" pInputText id="nombreTipo" [(ngModel)]="tipoAnimal.nombreTipo" required autofocus /> -->


            <span class="p-input-icon-right ">
                <i class="pi pi-info-circle" [style.color]="submitted && !tipoAnimal.nombreTipo ? 'red':''"></i>
                <input type="text" [class]="submitted && !tipoAnimal.nombreTipo ? 'ng-dirty':''" id="nombreTipo"
                    placeholder="Nombre tipo" pInputText [(ngModel)]="tipoAnimal.nombreTipo" required autofocus />
            </span>
            <small class="p-error" *ngIf="submitted && !tipoAnimal.nombreTipo">Name is required.</small>
        </div>


        <div class="field">
            <label for="descripcionAnimal"><strong>Descripción</strong></label>
            <textarea id="descripcionAnimal" name="descripcionAnimal" pInputTextarea
                placeholder="Descripción del tipo animal" [(ngModel)]="tipoAnimal.descripcionAnimal" required rows="3"
                cols="20" [class]="submitted && !tipoAnimal.nombreTipo ? 'ng-dirty':''"></textarea>
            <small class="p-error" *ngIf="submitted && !tipoAnimal.descripcionAnimal">Description is required.</small>
        </div>


    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple [label]=" tipoAnimal.idTipoAnimal ? 'Actualizar': 'Guardar'" icon="pi pi-check"
            class="p-button-text" (click)="saveAndUpdateTipoAnimal()"></button>
    </ng-template>
</p-dialog>