
/* Fancy style */
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  background-size: cover;
  color: black;
  font-family: "open sans";
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  /* Cambiar tipo de letra */
}


.content .block {
  width: inherit;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content .block span,
.content .block span i {
  margin: 0 42px;
}

.content .block span i {
  margin-bottom: 22px;
}

.content .block span i:before {
  font-size: 20px;
}

.Slide:nth-child(even) .content .block {
  color: #717171;
}

#Slide5 .content .block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

#Slide5 .content .block i {
  margin: 0 12px;
  vertical-align: middle;
}

h1 {

  color: #70b8d0;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-align: center;

}

ol {
  text-align: left;
  list-style-type: decimal;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

a:hover {
  color: rebeccapurple;
}

img {
  width: 6%;
  /* Ancho deseado para las imágenes */
  height: 14px;
  /* Alto deseado para las imágenes */
  overflow: hidden;
  /* Ocultar cualquier parte de la imagen que exceda el contenedor */
  display: block; /* Asegurar que la imagen sea un elemento de bloque */
  margin: 0 auto; /* Margen automático horizontal para centrar */

}

/*header*/

@import url(https://fonts.googleapis.com/css?family=Raleway);

nav {
  margin-top: 0px;
  padding: 24px;
  text-align: center;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-3 {
  background: var(--blue);
}

.link-3 {
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}

.link-3:hover {
  background-color: #ffffff;
  color: #003cff;
  padding: 24px 10px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% del alto de la ventana */
}

.floating-image {
  max-width: 100%;
  height: auto;
  animation: float 2s ease-in-out infinite; /* Aplica la animación */
}

@keyframes float {
  0%, 100% {
    transform: translateY(0); /* Empieza y termina en la posición original */
  }
  50% {
    transform: translateY(-10px); /* Punto más alto del movimiento */
  }
}