<!-- NUEVO LOADER -->
<ngx-ui-loader bgsColor="#3b82f6" bgsPosition="center-center" bgsType="ball-scale-multiple" blur=5 delay=0
    fastFadeOut=true fgsColor="#3b82f6" fgsPosition="center-center" fgsType="square-jelly-box"
    logoPosition="center-center" logoUrl="" masterLoaderId="master" overlayBorderRadius="0"
    overlayColor="rgba(207,207,207,0.8)" pbColor="#3b82f6" pbDirection="ltr" text="Espere un momento..."
    textColor="#3b82f6" textPosition="center-center" maxTime=-1 minTime=300></ngx-ui-loader>






<div *ngIf="isLogginPresent === false">
    <router-outlet></router-outlet>
</div>
<div *ngIf="isLogginPresent === true">
    <!-- SIDEBAR -->
    <section id="sidebar">
        <a routerLink="dashboard" class="brand"><i class='bx bxs-inbox icon'></i> FAAN</a>
        <ul class="side-menu">
            <li><a routerLink="dashboard" class="active"><i class='bx bxs-dashboard icon'></i> Dashboard</a></li>
            <li class="divider" data-text="Mascotas"></li>
            <li>
                <a><i class='bx bxs-inbox icon'></i>Animales <i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a routerLink="registro-mascota">Registro Animal</a></li>
                    <li><a routerLink="control-animal">Control Animal</a></li>
                    <li><a routerLink="adopcion-animal">Adopciones Animales</a></li>
                </ul>
            </li>
            <li class="divider" data-text="General"></li>
            <li>
                <a><i class='bx bxs-inbox icon'></i>General <i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a routerLink="animal-tipo">Crear Tipo Animal</a></li>
                    <li><a routerLink="animal-raza">Crear Raza Animal</a></li>
                    <li><a routerLink="control-usuario">Control Usuarios</a></li>
                </ul>
            </li>
            <li class="divider" data-text="Configuracion"></li>
            <li><a routerLink="fundacion"><i class='bx bxs-institution icon'></i> Fundacion</a></li>
            <!-- <li><a routerLink="peril-usuario"><i class='pi pi-user-edit icon'></i> Perfil</a></li> -->
        </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- NAVBAR -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu toggle-sidebar'></i>
            <form action="#">
                <div class="form-group">
                    <!-- <input type="text" placeholder="Search...">
                    <i class='bx bx-search icon'></i> -->
                </div>
            </form>
            <a (click)="viewNotificacionesPanle = true" class="nav-link">
                <i class='bx bxs-bell icon'></i>
                <span class="badge"> {{countNotificaciones}} </span>
            </a>
            <span class="divider"></span>
            <div class="profile">
                <div *ngIf="imagenUrl">
                    <img id="img" [src]="imagenUrl" alt="Imagen de perfil">
                </div>
                <ul class="profile-link">
                    <li><a routerLink="perfil-usuario"><i class='bx bxs-user-circle icon'></i> Perfil</a></li>
                    <!-- <li><a routerLink="#"><i class='bx bxs-cog'></i> Settings</a></li> -->
                    <li><a (click)="logOut()"><i class='bx bxs-log-out-circle'></i>Salir</a></li>
                </ul>
            </div>
        </nav>
        <!-- NAVBAR -->
        <main>
            <!-- COMPONETES -->
            <router-outlet></router-outlet>
            <!-- FIN -->
        </main>
    </section>
</div>

<!-- NTOFICACIONES -->

<p-sidebar [(visible)]="viewNotificacionesPanle" [baseZIndex]="10000" position="right">
    <p>Notificaciones</p>
    <div class="col-12 md:col-6 lg:col-12" *ngFor="let data of listNotificaciones">
        <div class="surface-card shadow-2 p-3 border-round">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">{{ formatDate(data.proximaFechaFacunacion) }}</span>
                    <div class="text-900 font-medium text-xl"></div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    style="width: 2.5rem; height: 2.5rem">
                    <i class="pi pi-megaphone text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">{{ data.fullNameMascota }} <br></span>
            <span class="text-500">{{ data.cuerpoMensaje }}</span>
            <div class="flex justify-content mt-3">
                <p-button icon="pi pi-check" label="Visto" (onClick)="removerNotificacion(data)"
                    styleClass="p-button-success"></p-button>
            </div>
        </div>
    </div>
</p-sidebar>