<div class="header" style="width: 100%; height:1000px; background-color: aquamarine;">


  <section class="requerimientosAdicionales">
    <div style="  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;">
      <img src="assets/img/logo.png" width="500px" alt="">


    </div>
    <div>
      <div class="title">
        <h1> NO COMPRES, ¡ADOPTA Y SALVA
          UNA VIDA!
        </h1>
      </div>
    </div>
  </section>
</div>



<section class="importantes" style="width: 90%; margin-left: auto; margin-right: auto;">

  <h2 style="width: 100%; text-align: center; margin-top: 30px; font-size: 40px;">I M P O R T A N T E</h2>
  <h3 style="text-align: center; margin-bottom: 50px; color: #70b8d0; font-size: 36px;">CONSIDERACIONES ANTES DE ADOPTAR
  </h3>

  <section class="layout">

    <div>
      <p>
        El tener una animalito puede ser muy gratificante, pero sólo si realmente has meditado esta decisión antes de
        adogtar un compañero.
        <br>
        <br>
        El hecho de que estés pensando en adoptar un animal de un refugio significa que eres una persona responsable y
        humanitaria. Pero antes de tomar la decisión de traer un animalito a tu vida, tómate un momento para pensar en
        estos
        puntos:
        <br>
        <br>
        ¿Porqué quieres un animalito?

        Adogtar un animalito simplemente por novelería o porque los niños han estado lloriqueando generalmente termina
        siendo un gran error. No te olvides de que algunas especies pueden estar contigo 10, 15 o incluso 20 años.
        <br>
        <br>
        ¿Tienes tiempo necesario?

        Perros, gatos y otros animales de compañía no pueden ser ignorados simplemente porque estés cansado u ocupado,
        necesitan comida, agua, ejercicio, cariño y compañía. Muchos animales en los refugios están allí porque sus
        dueños
        no pensaron realmente cuánto tiempo llevaba cuidar de ellos.
        <br>
        <br>
        Economía
        Los costos de mantener un animalito pueden ser elevados:
        Cuidados veterinarios, juguetes, comida y otros que se puedan ocasionar.
        <br>
        <br>
        Otros.

        Pulgas, lana en los muebles, travesuras, etc.
        <br>
        <br>
        Te comprometes a hacerte cargo del animal por el resto de su vida, tomando en cuenta que vivirá un promedio
        aproximado de 10 a 15 años?
        <br>
        <br>
        Tomando estas consideraciones deseas continuar, llena la solicitud.
      </p>
    </div>

    <div style="display: flex; justify-content: center; align-items: center; height: 100%; width: 100%;">
      <img src="assets/img/perrito.png" width="50%" alt="">
    </div>
  </section>

</section>

<h1 class="Formulario">FORMULARIO DE ADOPCION DE ANIMAL DE COMPAÑIA</h1>
<h2 style="width: 100%; height: 100%; text-align: center; margin-bottom: 70px;">Información Personal</h2>

<form ngNativeValidate action="/procesar_formulario" method="POST">

  <fieldset>
    <section class="layout2">

      <div class="inputContainer">
        <input required="" class="customInput" type="text">
        <label class="inputLabel">Nombre:</label>
        <input type="text" class="inputUnderline" [(ngModel)]="formulario.nombre" required>
      </div>

      <div class="inputContainer">
        <input required="" class="customInput" type="text">
        <label class="inputLabel">Ocupacion:</label>
        <input type="text" class="inputUnderline" [(ngModel)]="formulario.ocupacion" required>
      </div>

      <div class="inputContainer">
        <input required="" class="customInput" type="text">
        <label class="inputLabel">Ubicacion Domicilaria:</label>
        <input type="text" class="inputUnderline" [(ngModel)]="formulario.ubicaciondomicilio" required>
      </div>

      <div class="inputContainer">
        <input required="" class="customInput" type="text">
        <label class="inputLabel">Direccion del Trabajo:</label>
        <input type="text" class="inputUnderline" [(ngModel)]="formulario.direccion" required>
      </div>

      <div class="inputContainer">
        <input required="" class="customInput" type="text">
        <label class="inputLabel">Correo Electrónico:</label>
        <input type="text" class="inputUnderline" [(ngModel)]="formulario.correo" required>
      </div>

      <div class="inputContainer">
        <input required="" class="customInput" type="text">
        <label class="inputLabel">Telefono de Casa:</label>
        <input type="text" class="inputUnderline" [(ngModel)]="formulario.telefonocasa" required>
      </div>

      <div class="inputContainer">
        <input required="" class="customInput" type="text">
        <label class="inputLabel">Telefono de Trabajo:</label>
        <input type="text" class="inputUnderline" [(ngModel)]="formulario.telefonotrabajo" required>
      </div>

      <div class="inputContainer">
        <input required="" class="customInput" type="text">
        <label class="inputLabel">Celular:</label>
        <input type="text" class="inputUnderline" [(ngModel)]="formulario.celular" required>
      </div>

      <div class="inputContainer">
        <input required="" class="customInput" type="text">
        <label class="inputLabel">Estado Civil:</label>
        <input type="text" class="inputUnderline" [(ngModel)]="formulario.estadocivil" required>
      </div>

      <div class="inputContainer">
        <input required="" class="customInput" type="text">
        <label class="inputLabel">Numero de Miembros Familiares:</label>
        <input type="text" class="inputUnderline" [(ngModel)]="formulario.numeroMiembros" required>
      </div>

      <div class="inputContainer">
        <input required="" class="customInput" type="text">
        <label class="inputLabel">NIños - Edad:</label>
        <input type="text" class="inputUnderline" [(ngModel)]="formulario.edadNinos" required>
      </div>


    </section>
  </fieldset>

  <h2 style="width: 100%; height: 100%; text-align: center; margin-bottom: 70px;">Autorizacion de Adopcion</h2>

  <section style="width: 90%; text-align: center; margin-left: auto; margin-right: auto;" class="layout">
    <div> <label style="width: 85%;">¿Quién es la persona que autorizará la adopción del animal? (madre, padre, tutor,
        etc) :</label>
      <div class="input-wrapper" style="margin-bottom: 40px;">
        <input type="text" [(ngModel)]="formulario.autorizacion" placeholder="Escriba su respuesta..." name="text"
          class="input" required>
      </div>
    </div>
    <div>
      <label style="width: 85%;">¿Están todos los miembros de la familia enterados y de acuerdo con la intención de
        adoptar un animal de compañía?</label>
      <br>
      <input class="check" type="checkbox" id="acuerdo_familia_si" value="Si"
        [(ngModel)]="formulario.todoMiembrosAcuerdo" name="acuerdo_familia" required> Si
      <input class="check" type="checkbox" id="acuerdo_familia_no" value="No"
        [(ngModel)]="formulario.todoMiembrosAcuerdo" name="acuerdo_familia" required> No
      <br>
      <label>Si su respuesta es no, ¿por qué?</label>
      <br>
      <textarea style="border-radius: 10px; margin-bottom: 40px;" id="razon_no_acuerdo" rows="3" cols="50"
        [(ngModel)]="formulario.siesno" required></textarea>
      <br>
    </div>
    <div>

      <label>El animalito viviría con:</label><br>
      <input class="check" [(ngModel)]="formulario.viviraCon" type="checkbox" id="viveConmigo" value="Conmigo"
        required>Conmigo y mi familia <br>
      <input class="check" [(ngModel)]="formulario.viviraCon" type="checkbox" id="viveOtro" value="Otro" required>Es
      obsequio para un conocido<br>

    </div>
    <div>

      <label style="margin-top: 40px;">Como lo vas a considerar:</label><br>
      <section class="layoutopciones" style="text-align: justify;">
        <div style="height: 60%;"> <input class="check" [(ngModel)]="formulario.considerar" type="checkbox"
            id="compania" value="Conmigo" required>Compañia
        </div>
        <div style="height: 100%;"> <input class="check" [(ngModel)]="formulario.considerar" type="checkbox"
            id="guardian" value="Otro" required>Guardian
        </div>
        <div style="height: 100%;"> <input class="check" [(ngModel)]="formulario.considerar" type="checkbox" s
            id="miembroFamilia" value="Otro" required>Miembro de la familia
        </div>
        <div style="height: 100%;"> <input class="check" [(ngModel)]="formulario.considerar" type="checkbox" id="amigo"
            value="Otro" required>Amigo
        </div>

      </section>

    </div>
    <div>
      <label style="margin-top: 40px;">¿Han tenido animales de compañía con anterioridad?</label><br>
      <input class="check" [(ngModel)]="formulario.animalesAnterioridad" type="checkbox" id="antesSi" value="Si"
        required> Si
      <input class="check" [(ngModel)]="formulario.animalesAnterioridad" type="checkbox" id="antesNo" value="No"
        required> No<br><br>
    </div>
    <div>
      <label style="margin-top: 80px;">¿Qué animal era? DESCRIBA</label><br>
      <textarea style="border-radius: 10px; margin-bottom: 40px;" [(ngModel)]="formulario.animalPasado"
        id="animalPasado" rows="3" cols="50" required></textarea><br>

    </div>
    <div>

      <label style="margin-top: 40px;">¿Cuánto tiempo vivió con ustedes? </label><br>
      <textarea style="border-radius: 10px; margin-bottom: 40px;" [(ngModel)]="formulario.tiempoPasado"
        id="tiempoPasado" rows="3" cols="50" required></textarea><br>
    </div>
    <div> <label style="margin-top: 40px;">¿En dónde está ahora el animal? ¿Por qué? Falleció, Como?</label><br>
      <textarea style="border-radius: 10px;  margin-bottom: 40px;" [(ngModel)]="formulario.animalAhora" id="animalAhora"
        rows="3" cols="50" required></textarea><br>
    </div>
    <div>
      <label style="margin-top: 40px;">¿Estaba vacunado? </label><br>
      <input class="check" type="checkbox" id="vacunaSI" [(ngModel)]="formulario.vacunado" value="Si" required> Si
      <input class="check" type="checkbox" id="vacunaNO" [(ngModel)]="formulario.vacunado" value="No" required> No<br>
    </div>
    <div>
      <label style="margin-top: 40px;   width: 85%;">¿Qué vacunas se le aplicaron? y ¿Cada cuánto tiempo se
        vacunaba?</label><br>
      <textarea style="border-radius: 10px; margin-bottom: 40px;" [(ngModel)]="formulario.vacunasAntes"
        id="vacunasANTES" rows="3" cols="50" required></textarea><br>
    </div>
    <div> <label style="margin-top: 40px;">¿Estaba desparasitado?</label><br>
      <input class="check" type="checkbox" [(ngModel)]="formulario.desparasitado" id="desparasitadoSI" value="Si"
        required> Si
      <input class="check" type="checkbox" [(ngModel)]="formulario.desparasitado" id="desparasitadoNO" value="No"
        required> No<br>
    </div>
    <div> <label style="margin-top: 40px;">¿Cada cuánto tiempo se desparasitaba?</label><br>
      <textarea style="border-radius: 10px;  margin-bottom: 40px;" [(ngModel)]="formulario.tiempoDesparasitado"
        id="tiempoDesparasita" rows="3" cols="50" required></textarea><br>
    </div>
    <div> <label style="margin-top: 40px;">¿Cuántas horas del día permanecería solo?</label><br>
      <div class="input-wrapper" style="margin-bottom: 40px;">
        <input type="number" placeholder="Escriba su respuesta..." name="text" class="input"
          [(ngModel)]="formulario.horasSolo" id="horasSolo" required>
      </div>

    </div>

    <div>
      <label style="margin-top: 40px;">¿En dónde estaría mientras no hubiera nadie en casa? </label><br>
      <textarea style="border-radius: 10px; margin-bottom: 40px;" [(ngModel)]="formulario.pasariaAnimal"
        id="pasariaAnimal" rows="3" cols="50" required></textarea><br>
    </div>
    <div>
      <label style="margin-top: 40px;">¿Hay alguien en su familia con problemas de alergias?</label><br>
      <textarea style="border-radius: 10px; margin-bottom: 40px;" [(ngModel)]="formulario.problemaAlergia"
        id="problemaAlergia" rows="3" cols="50" required></textarea><br>
    </div>
    <div> <label style="margin-top: 40px;">¿Qué sucedería si alguien resultara alérgico al animal?</label><br>
      <textarea style="border-radius: 10px; margin-bottom: 40px;" [(ngModel)]="formulario.resultaAlergico"
        id="resultaAlergico" rows="3" cols="50" required></textarea><br>
    </div>
    <div>
      <label style="margin-top: 40px;">¿Planea tener hijos? </label><br>
      <input class="check" type="checkbox" [(ngModel)]="formulario.planeaHijos" id="planeaSI" value="Si" required> Si
      <input class="check" type="checkbox" [(ngModel)]="formulario.planeaHijos" id="planeaNO" value="No" required>
      No<br>
    </div>
    <div> <label style="margin-top: 40px; width: 85%;">¿Qué sucedería si usted o en caso de ser hombre, su pareja,
        quedara
        embarazada?</label><br>
      <textarea style="border-radius: 10px; margin-bottom: 40px;" [(ngModel)]="formulario.embaraza" id="embaraza"
        rows="3" cols="50"></textarea><br>
    </div>
    <div>
      <label style="margin-top: 40px;">¿Conoce los gastos que implica tener un perro o gato?</label><br>
      <input class="check" type="checkbox" [(ngModel)]="formulario.conoceGastos" id="gastosSI" value="Si" required> Si
      <input class="check" type="checkbox" conoceGastos id="gastosNO" value="No" required> No<br>
    </div>
  </section>
  <div style="width: 100%; text-align: center;">
    <h2 style="width: 100%; height: 100%; text-align: center; margin-bottom: 70px; margin-top: 40px;">Autorizacion de
      Adopcion</h2>

    <section class="layout2">

      <div> <label>Su vivienda es:</label><br>
        <input class="check" type="checkbox" [(ngModel)]="formulario.tipoVivienda" id="casa" value="Si" required>Casa
        <br>
        <input class="check" type="checkbox" [(ngModel)]="formulario.tipoVivienda" id="depa" value="No" required>
        Departamento<br>
      </div>
      <div>
        <label>Su vivienda es:</label><br>
        <input class="check" type="checkbox" [(ngModel)]="formulario.vivienda" id="propia" value="Si" required>
        Propia<br>
        <input class="check" type="checkbox" [(ngModel)]="formulario.vivienda" id="rentada" value="No" required>
        Rentada<br>
        <input class="check" type="checkbox" [(ngModel)]="formulario.vivienda" id="compartida" value="No" required>
        Compartida<br>
      </div>
      <div> <label>¿Tiene jardín o patio?</label><br>
        <input class="check" type="checkbox" [(ngModel)]="formulario.jardioPatio" id="jardin" value="Si" required>
        Jardin<br>
        <input class="check" type="checkbox" [(ngModel)]="formulario.jardioPatio" id="patio" value="No" required>
        Patio<br>
      </div>
      <div> <label>En que parte de tu casa va a vivir el animalito:</label><br>
        <input class="check" type="checkbox" [(ngModel)]="formulario.parteCasa" id="jardinParte" value="Si" required>
        Jardin<br>
        <input class="check" type="checkbox" [(ngModel)]="formulario.parteCasa" id="patioParte" value="No" required>
        Patio<br>
        <input class="check" type="checkbox" [(ngModel)]="formulario.parteCasa" id="azoteaParte" value="No" required>
        Azotea<br>
        <input class="check" type="checkbox" [(ngModel)]="formulario.parteCasa" id="dentroCasaParte" value="No"
          required> Dentro de la casa<br>
      </div>
      <div> <label>¿En dónde dormiría?</label><br>
        <input class="check" type="checkbox" [(ngModel)]="formulario.dormirParte" id="dormirJardin" value="Si" required>
        Jardin<br>
        <input class="check" type="checkbox" [(ngModel)]="formulario.dormirParte" id="dormirPatio" value="No" required>
        Patio<br>
        <input class="check" type="checkbox" [(ngModel)]="formulario.dormirParte" id="dormirAzotea" value="No" required>
        Azotea<br>
        <input class="check" type="checkbox" [(ngModel)]="formulario.dormirParte" id="dormirDentroCasa" value="No"
          required> Dentro de la casa<br>
      </div>
      <div> <label>Si vive en departamento, ¿hay otros vecinos que tengan animales de compañía? </label>
        <textarea style="border-radius: 10px; margin-bottom: 40px;" [(ngModel)]="formulario.vecinosAnimales"
          id="vecinosAnimales" rows="3" cols="50" required></textarea><br>
      </div>
      <div>
        <label>En caso de renta o condominio,¿cuentas con el permiso de tu casero o administración para poseer animales
          de
          compañía?</label>
        <input class="check" type="checkbox" [(ngModel)]="formulario.permiso" id="permisoSI" value="Si" required> SI<br>
        <input class="check" type="checkbox" [(ngModel)]="formulario.permiso" id="permisoNO" value="No" required> NO<br>
      </div>
      <div> <label>¿Qué sucedería si tuviera que mudarse a otra casa o ciudad /país? </label>
        <textarea style="border-radius: 10px; margin-bottom: 40px;" [(ngModel)]="formulario.mudarseLugar"
          id="mudarseLugar" rows="3" cols="50" required></textarea><br>
      </div>
      <div> <label>¿Qué sucedería si al mudarse algún lugar donde no admiten perros o gatos o de tener algún problema
          familiar
          o económico? </label>
        <textarea style="border-radius: 10px; margin-bottom: 40px;" [(ngModel)]="formulario.mudarse" id="mudarse"
          rows="3" cols="50"></textarea><br>
      </div>
      <div> <label>¿Está dispuesto a que el perro o gato tenga un periodo de ajuste en el que aprenda dónde debe ir al
          baño y
          se adapte a la familia?</label>
        <input class="check" type="checkbox" [(ngModel)]="formulario.dispuesto" id="dispuestoSI" value="Si" required>
        SI<br>
        <input class="check" type="checkbox" [(ngModel)]="formulario.dispuesto" id="dispuestoNO" value="No" required>
        NO<br>
      </div>

      <div>
        <label>¿Cómo te enteraste de nosotros?</label>
        <textarea style="border-radius: 10px; margin-bottom: 40px;" [(ngModel)]="formulario.enterarse"
          id="enterarseNosotros" rows="3" cols="50" required></textarea><br>
      </div>

    </section>
    <label>otros comentarios.</label><br>
    <textarea style="border-radius: 10px; margin-bottom: 40px; width: 90%  ;" [(ngModel)]="formulario.otrosComentarios"
      id="otrosComentarios" rows="3" cols="50" required></textarea><br>
    <fieldset>

    </fieldset>
    <div style="width: 100%;"> <button type="submit" class="learn-more" onclick="generarPDF()"
        style="font-weight: bolder; letter-spacing: 3px;">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">GENERAR SOLICITUD</span>
      </button></div>

  </div>

</form>


<section class="requerimientosAdicionales" style="margin-top: 100px;">

  <div style="  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;">
    <img src="assets/img/perropng.png" width="60%">
  </div>
  <div style="width: 80%; margin-left: auto; margin-right: auto;">
    <h2>Una vez llenado este formulario pasaremos a los siguientes requerimientos:</h2><br>
    <p style="font-size: 23px;">
      Después de conocer el perro o gato con interés en adoptar, se deberá realizar una visita de convivencia, así como
      recibir una platica sobre el cuidado de una mascota.
      Entregar copia de Identificación oficial y comprobante de domicilio (planilla servicios básicos)
      Tener la disponibilidad de recibir una visita de parte de la asociación para conocer el lugar donde habitará el
      animalito en adopción.
      Segunda visita de familiarización y entrega de donativo de $ 15.00 o su equivalente en comida para perros los cual
      ayudara a seguir con nuestra labor.
      Es obligación de FAAN entregarte al animalito vacunado, desparasitado y esterilizado si tiene edad para hacerlo
    </p>
  </div>

</section>