.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url('https://molyacuarium.com/wp-content/uploads/2020/09/Banner-web.4.jpg');
}

img {

  border-radius: 10px;
}

@import url('https://fonts.googleapis.com/css?family=Cairo');

body {
  background-color: #010;
}

.title {
  font-family: "Cairo";
  text-align: justify;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  letter-spacing: 1px;
  padding-left: 5px;
  padding-right: 200px;
  line-height: 2
}

h1 {
  background-image: url(https://media.giphy.com/media/ehOk1iSyG1fjMR5AQf/giphy.gif  );
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 80px;
  margin: 10px 0;
  font-weight: bolder;
}


.layout {
  width: 90%;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-right: auto;
  margin-left: auto;
}

h1.Formulario {
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  padding: 1em;
  display: inline-block;
  background: -webkit-linear-gradient(left, #5592a7, #9cf1fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inputContainer {
  position: relative;
  margin-bottom: 50px;
}

.customInput {
  width: 60%;
  padding: 12px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #5592a7;
  outline: none;
  transition: border-color 0.3s ease;
  color: #000000;
}

.customInput:focus,
.customInput:not(:placeholder-shown) {
  border-color: #5592a7;
}

.inputLabel {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  font-size: 24px;
  color: #5592a7;
  transition: transform 0.3s ease, color 0.3s ease;
  padding-left: 0;
}

.customInput:focus+.inputLabel,
.customInput:not(:placeholder-shown)+.inputLabel {
  transform: translateY(-100%) translateX(-30px) scale(0.8);
}

label.inputLabel {
  width: 100%;
}

.inputUnderline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #5592a7;
}



.layout2 {
  width: 90%;
  height: 100%;

  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 850px) {
  .layout2 {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin-left: auto;
    margin-right: auto;
  }
}

.requerimientosAdicionales {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}


@media only screen and (max-width: 1450px) {
  .requerimientosAdicionales {
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
  }

  .title {
    font-family: "Cairo";
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    letter-spacing: 1px;
    width: 100%;
    line-height: 2;
    padding-right: 1px;

  }

  h1 {
    width: 100%;
    background-image: url(https://media.giphy.com/media/ehOk1iSyG1fjMR5AQf/giphy.gif  );
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 50px;
    margin: 10px 0;
    font-weight: bolder;
  }
}

.input-wrapper input {
  background-color: #eee;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 13em;
  border-radius: 1rem;
  color: #5592a7;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
  width: 80%;
  margin-top: 20px;
}

.input-wrapper input:focus {
  outline-color: #5592a7;
}

.check {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  appearance: none;
  background-color: #bbb;
  transition: all .3s;

}

.check::before {
  content: '';
  position: absolute;
  border: solid #fff;
  display: block;
  width: .3em;
  height: .6em;
  border-width: 0 .2em .2em 0;
  z-index: 1;
  opacity: 0;
  right: calc(50% - .3em);
  top: calc(50% - .6em);
  transform: rotate(0deg);
  transition: all .3s;
  transform-origin: center center;
}

.check:checked {
  animation: a .3s ease-in forwards;
  background-color: #5592a7;
}

.check:checked::before {
  opacity: 1;
  transform: rotate(405deg);
}

@keyframes a {
  0% {
    opacity: 1;
    transform: scale(1) rotateY(0deg);
  }

  50% {
    opacity: 0;
    transform: scale(.8) rotateY(180deg);
  }

  100% {
    opacity: 1;
    transform: scale(1) rotateY(360deg);
  }
}

label {
  font-weight: bolder;
  font-size: 20px;
  color: #5592a7;
}

textarea {

  background-color: #eee;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 13em;
  border-radius: 1rem;
  color: #5592a7;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
  width: 80%;
  margin-top: 20px;
}

textarea:focus {
  outline-color: #5592a7;
}



/* styling my button */

.white-mode {
  text-decoration: none;
  padding: 7px 10px;
  background-color: #122;
  border-radius: 3px;
  color: #FFF;
  transition: .35s ease-in-out;
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-family: "Montserrat";
}

.white-mode:hover {
  background-color: #FFF;
  color: #122;
}

.layoutopciones {
  width: 30%;
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(1, 1fr);
  gap: 2px;
  margin-left: auto;
  margin-right: auto;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 19rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}