<main>
    <div class="lateral"></div>
    <div class="login">
        <div class="surface-card p-4 border-round w-full lg:w-6" style="background-color: #f7fafb;">
            <div class="text-center mb-5">
                <img src="../../../assets/img/logo.png" alt="Image" height="100" style="border-radius: 50%;" class="mb-3">
                <div class="text-900 text-3xl font-medium mb-3">Bienvenido</div>
            </div>
            <div>
                <label for="username" class="block text-900 font-medium mb-2">Usuario</label>
                <input id="username" type="text" name="username" [(ngModel)]="usuarioLoginDTO.username" pInputText class="w-full mb-3"  placeholder="Usuario">

                <label for="password1" class="block text-900 font-medium mb-2">Contraseña</label>
                <input id="password" type="password" name="password" [(ngModel)]="usuarioLoginDTO.password" pInputText class="w-full mb-3"  placeholder="*********">

                <div class="flex align-items-center justify-content-between mb-6">
                    <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer" (click)="openDialogRecoverPassword()">Olvido su contraseña?</a>
                </div>

                <button pButton (click)="singIn()" pRipple label="Sign In" icon="pi pi-user" class="w-full"></button>
            </div>
        </div>
    </div>
</main>

<!-- IMPLEMENT RECOVER PASSWORD -->
<p-dialog [(visible)]="dialogRecoverPassword" [style]="{ width: '450px', padding: screenWidth < 600 ? '10px' : '' }"
    header="Recuperación de Contraseña" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="formulario">
            <div class="field">
                <label for="email"><strong>Ingrese su correo electrónico.</strong></label>
                <input type="email" pInputText id="email" name="email" placeholder="Dirección de correo electrónico"
                    formControlName="email"
                    [class.is-invalid]="formulario.get('email')!.invalid && formulario.get('email')!.touched"
                    class="form-control" formcontrolname="email" required autofocus />

                <div
                    *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched || formulario.get('email')?.dirty">
                    <small class="text-danger" *ngIf="formulario.get('email')?.errors?.['required']">Correo es
                        requerido.</small>
                    <small class="text-danger" *ngIf="formulario.get('email')?.errors?.['pattern']">Dirección de correo
                        invalido </small>
                </div>

                <div class="flex justify-content-center mt-4" *ngIf="!isEmpty(responseServer)">
                    <p-message
                        [severity]="responseServer.status === 200 ? 'success': responseServer.status === 404 ? 'warn':'error' "
                        [text]="responseServer.message"></p-message>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"
            [disabled]="submitted ? true : false"></button>
        <button pButton pRipple [label]="submitted ? 'Validando': 'Envíar'"
            [icon]="'pi '+(submitted ? 'pi-spin pi-spinner':'pi-check')" [disabled]="submitted ? true : false"
            class="p-button-text" (click)="sendRecoverPassword()"></button>
    </ng-template>
</p-dialog>