main{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
}

.lateral{
    width: 60%;
    height: 100%;
    background-image: url('https://images.ctfassets.net/1sv59kqumaqp/2ADoT6m1c84hnTZ2VD4YH/e581bb87c9896c7f953c97cb34b4ee7f/mascotas.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #65b2cc;
    transition: width 1s;
}

.login{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: width 1s;
}


/* CONFFIG PARA DIPOSITIVOS MENORES */

@media screen and (max-width: 1100px){
    .lateral{
        width: 35%;
        
    }
    .login{
        width: 65%;
    }
}

@media screen and (max-width: 800px){
    .lateral{
        width: 0%;
    }
    .login{
        width: 100%;
        padding: auto;
    }
    .login form input[type="text"], input[type="password"]{
        width: 210px;
        font-size: 23px;
    }
}