<div class="pirncipal">
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row border rounded-5 p-3 bg-white box-area" style="box-shadow:0.5px -0.5px 12px 6.5px #00000036;">
            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
                style="background: linear-gradient(0deg, #2e6db0 0%, #3b98b0 100%);">
                <div class="featured-image mb-3">
                    <img src="https://i.pinimg.com/originals/1f/d4/65/1fd465d8ddac0d9c77529ae73713331f.png"
                        class="img-fluid" style="width: 250px;">
                </div>
                <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">
                    Bienvenido</p>
                <small class="text-white text-wrap text-center"
                    style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Join experienced Designers on
                    this
                    platform.</small>
            </div>
            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4">
                        <h2>Hola</h2>
                        <p>Sistema fundacion FAAN.</p>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="username" [(ngModel)]="usuarioLoginDTO.username"
                            class="form-control form-control-lg bg-light fs-6" placeholder="Username">
                    </div>
                    <div class="input-group mb-1">
                        <input type="password" name="password" [(ngModel)]="usuarioLoginDTO.password"
                            class="form-control form-control-lg bg-light fs-6" placeholder="Password">
                    </div>
                    <div class="input-group mb-5 d-flex justify-content-between">
                        <div class="forgot">

                            <small><a (click)="openDialogRecoverPassword()">Olvido su contraseña?</a></small>
                        </div>
                    </div>
                    <div class="input-group mb-1">
                        <button type="submit" (click)="singIn()"
                            class="btn btn-lg btn-primarys w-100 fs-6">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- IMPLEMENT RECOVER PASSWORD -->
<p-dialog [(visible)]="dialogRecoverPassword" [style]="{ width: '450px', padding: screenWidth < 600 ? '10px' : '' }"
    header="Recuperación de Contraseña" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="formulario">
            <div class="field">
                <label for="email"><strong>Ingrese su correo electrónico.</strong></label>
                <input type="email" pInputText id="email" name="email" placeholder="Dirección de correo electrónico"
                    formControlName="email"
                    [class.is-invalid]="formulario.get('email')!.invalid && formulario.get('email')!.touched"
                    class="form-control" formcontrolname="email" required autofocus />

                <div
                    *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched || formulario.get('email')?.dirty">
                    <small class="text-danger" *ngIf="formulario.get('email')?.errors?.['required']">Correo es
                        requerido.</small>
                    <small class="text-danger" *ngIf="formulario.get('email')?.errors?.['pattern']">Dirección de correo
                        invalido </small>
                </div>

                <div class="flex justify-content-center mt-4" *ngIf="!isEmpty(responseServer)">
                    <p-message
                        [severity]="responseServer.status === 200 ? 'success': responseServer.status === 404 ? 'warn':'error' "
                        [text]="responseServer.message"></p-message>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"
            [disabled]="submitted ? true : false"></button>
        <button pButton pRipple [label]="submitted ? 'Validando': 'Envíar'"
            [icon]="'pi '+(submitted ? 'pi-spin pi-spinner':'pi-check')" [disabled]="submitted ? true : false"
            class="p-button-text" (click)="sendRecoverPassword()"></button>
    </ng-template>
</p-dialog>