<div class="card p-3">
    <p-toolbar styleClass="mb-3 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-primary mr-2"
                (click)="openNewPerson()"></button>
        </ng-template>

        <!-- <ng-template pTemplate="right">
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template> -->
    </p-toolbar>

    <p-table #dt [value]="listPerson" [lazy]="true" (onLazyLoad)="loadPersonLazy($event)" dataKey="id"
        [tableStyle]="{ 'min-width': '75rem' }" [paginator]="true" [rows]="4" [totalRecords]="totalRecords"
        [rowHover]="true" currentPageReportTemplate="Mostrando {first} to {last} of {totalRecords} Personas"
        [showCurrentPageReport]="true" [loading]="loading"
        [globalFilterFields]="['idPersona', 'nombre1', 'apellido1', 'identificacion']">

        <ng-template pTemplate="caption">

            <div class="grid p-fluid align-items-center">
                <div class="col-12 md:col-8">
                    <div class="p-inputgroup">
                        <h5 class="m-0"><strong>Gestión Personas</strong></h5><br>
                    </div>
                </div>

                <div class="col-12 md:col-4">
                    <div class="p-inputgroup">
                        <input type="text" [(ngModel)]="valueAtribute" pInputText placeholder="Encontrar por ci.." />
                        <button type="button" pButton pRipple [class]="submitFindAtribute ? 'p-button-danger' : ''"
                            [icon]="'pi' + (submitFindAtribute ? ' pi-times' : ' pi-search')" styleClass="p-button-warn"
                            [disabled]="valueAtribute ? false: true"
                            (click)="submitFindAtribute ? clearInputAndStatus() : findByAtributeName() "></button>
                    </div>

                </div>

            </div>

        </ng-template>


        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="idPersona" style="min-width:15rem"><strong>ID</strong> <p-sortIcon
                        field="idPersona"></p-sortIcon></th>

                <th pSortableColumn="identificacion" style="min-width:15rem"><strong>CI</strong> <p-sortIcon
                        field="identificacion"></p-sortIcon>
                </th>

                <th pSortableColumn="nombre1" style="min-width:15rem"><strong>Nombres</strong>
                    <p-sortIcon field="nombre1"></p-sortIcon>
                </th>
                <th pSortableColumn="apellido1" style="min-width:15rem"><strong>Apellidos</strong>
                    <p-sortIcon field="apellido1"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-person>
            <tr>

                <td>{{ person.idPersona }}</td>
                <td>{{ person.identificacion }}</td>
                <td>{{ person.nombre1}} {{ person.nombre2 }}</td>
                <td>{{ person.apellido1}} {{ person.apellido2 }}</td>

                <td>
                    <button pButton pRipple icon="pi pi-pencil"
                        class="p-button-rounded p-button-success p-button-outlined mr-2"
                        (click)="editPerson(person)"></button>

                    <!-- <button pButton pRipple [icon]="razaAnimal.estadoRaza === 'A' ? 'pi pi-check' : 'pi pi-trash'"
                        [ngClass]="'p-button-rounded ' + (razaAnimal.estadoRaza === 'A' ? 'p-button-secondary' : 'p-button-danger') + ' p-button-outlined mt-1'"
                        (click)="eliminadoLogicoDeLosTiposAnimales(razaAnimal)">
                    </button> -->

                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">En total son {{ listPerson ?
                totalRecords : 0 }} Personas.</div>
        </ng-template>
    </p-table>
</div>


<!-- Dialog person -->

<p-dialog [(visible)]="personDialog" [style]="{ width: '550px', padding: screenWidth < 700 ? '10px' : '' }"
    header="Gestión Personas" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">

        <form [formGroup]="formPerson">

            <input *ngIf="false" type="number" id="idPersona" name="idPersona" formControlName="idPersona"
                formcontrolname="idPersona" />

            <div class="field">
                <label for="identificacion"><strong>Ingrese su identificacion electrónico.</strong></label>
                <input type="identificacion" pInputText id="identificacion" name="identificacion"
                    placeholder="Dirección de identificacion electrónico" formControlName="identificacion"
                    [class.is-invalid]="formPerson.get('identificacion')!.invalid && formPerson.get('identificacion')!.touched"
                    class="form-control" formcontrolname="identificacion" [maxlength]="10"
                    onkeypress='return event.charCode >= 48 && event.charCode <= 57' required autofocus />

                <div
                    *ngIf="formPerson.get('identificacion')?.invalid && formPerson.get('identificacion')?.touched || formPerson.get('identificacion')?.dirty">
                    <small class="text-danger"
                        *ngIf="formPerson.get('identificacion')?.errors?.['required']"><strong>Identificación es
                            requerido.</strong></small>
                    <small class="text-danger"
                        *ngIf="formPerson.get('identificacion')?.errors?.['minlength']"><strong>Minimo
                            requerido es 10.</strong></small>
                </div>


            </div>


            <div class="field">
                <label for="correo"><strong>Ingrese su correo electrónico.</strong></label>
                <input type="correo" pInputText id="correo" name="correo" placeholder="Ej: example@email.com"
                    formControlName="correo"
                    [class.is-invalid]="formPerson.get('correo')!.invalid && formPerson.get('correo')!.touched"
                    class="form-control" formcontrolname="correo" required />

                <div
                    *ngIf="formPerson.get('correo')?.invalid && formPerson.get('correo')?.touched || formPerson.get('correo')?.dirty">
                    <small class="text-danger" *ngIf="formPerson.get('correo')?.errors?.['required']"><strong>Correo es
                            requerido.</strong></small>
                    <small class="text-danger" *ngIf="formPerson.get('correo')?.errors?.['pattern']"><strong>Dirección
                            de correo
                            invalido.</strong> </small>
                </div>
            </div>

            <div class="field">
                <label for="correo"><strong>Teléfono.</strong></label>
                <input type="text" pInputText id="telefono" name="telefono" placeholder="Ej: 07454545"
                    formControlName="telefono"
                    [class.is-invalid]="formPerson.get('telefono')!.invalid && formPerson.get('telefono')!.touched"
                    class="form-control" formcontrolname="telefono" [maxlength]="8"
                    onkeypress='return event.charCode >= 48 && event.charCode <= 57' />

                <div *ngIf="formPerson.get('telefono')?.dirty && formPerson.get('telefono')?.errors">
                    <div *ngIf="formPerson.get('telefono')?.errors?.['telefonoInvalido']">
                        <small class="text-danger"><strong>{{ formPerson.get('telefono')?.errors?.['mensaje']
                                }}</strong></small>
                    </div>
                </div>
            </div>


            <div class="formgrid grid">
                <div class="field col">
                    <label for="nombre1"><strong>Primer Nombre: </strong></label>
                    <input type="text" pInputText id="nombre1" name="nombre1" placeholder="Nombre"
                        formControlName="nombre1"
                        [class.is-invalid]="formPerson.get('nombre1')!.invalid && formPerson.get('nombre1')!.touched"
                        class="form-control" [maxlength]="12"
                        onkeypress='return !(event.charCode >= 48 && event.charCode <= 57)' required />
                    <div
                        *ngIf="formPerson.get('nombre1')?.invalid && formPerson.get('nombre1')?.touched || formPerson.get('nombre1')?.dirty">
                        <small class="text-danger"
                            *ngIf="formPerson.get('nombre1')?.errors?.['required']"><strong>Nombre es
                                requerido.</strong></small>
                    </div>
                </div>
                <div class="field col">
                    <label for="nombre2"><strong>Segundo Nombre: </strong></label>
                    <input type="text" pInputText id="nombre2" name="nombre2" class="form-control"
                        placeholder="Segundo nombre" formControlName="nombre2" [maxlength]="12"
                        onkeypress='return !(event.charCode >= 48 && event.charCode <= 57)' />

                </div>
            </div>


            <div class="formgrid grid">
                <div class="field col">
                    <label for="apellido1"><strong>Apellido Paterno: </strong></label>
                    <input type="text" pInputText id="apellido1" name="apellido1" placeholder="Apellido"
                        formControlName="apellido1"
                        [class.is-invalid]="formPerson.get('apellido1')!.invalid && formPerson.get('apellido1')!.touched"
                        class="form-control" [maxlength]="12"
                        onkeypress='return !(event.charCode >= 48 && event.charCode <= 57)' required />
                    <div
                        *ngIf="formPerson.get('apellido1')?.invalid && formPerson.get('apellido1')?.touched || formPerson.get('apellido1')?.dirty">
                        <small class="text-danger"
                            *ngIf="formPerson.get('apellido1')?.errors?.['required']"><strong>Apellido es
                                requerido.</strong></small>
                    </div>
                </div>
                <div class="field col">
                    <label for="apellido2"><strong>Apellido Materno: </strong></label>
                    <input type="text" pInputText id="apellido2" name="apellido2" class="form-control"
                        placeholder="Apellido materno" formControlName="apellido2" [maxlength]="12"
                        onkeypress='return !(event.charCode >= 48 && event.charCode <= 57)' />
                </div>
            </div>


            <div class="field ">
                <label class="mb-3"><strong>Género: </strong></label>

                <div class="formgrid grid">
                    <div class="field-radiobutton col-6">
                        <p-radioButton id="generoM" name="genero" value="M" formControlName="genero"></p-radioButton>
                        <label for="generoM">Masculino</label>
                    </div>
                    <div class="field-radiobutton col-6">
                        <p-radioButton id="generoF" name="genero" value="F" formControlName="genero"></p-radioButton>
                        <label for="generoF">Femenino</label>
                    </div>
                </div>

                <div
                    *ngIf="formPerson.get('genero')?.invalid && formPerson.get('genero')?.touched || formPerson.get('genero')?.dirty">
                    <small class="text-danger" *ngIf="formPerson.get('genero')?.errors?.['required']"><strong>Genero es
                            requerido.</strong></small>
                </div>
            </div>


            <div class="field">
                <label for="fechaNacimiento"><strong>Fecha de Nacimiento.</strong></label>
                <div class=" flex justify-content-center">
                    <p-calendar class="max-w-full" [inline]="true" [showWeek]="true" formControlName="fechaNacimiento"
                        [style]="{ 'height': '300px', 'font-size': '14px' }"></p-calendar>
                </div>

                <div *ngIf="formPerson.get('fechaNacimiento')?.dirty && formPerson.get('fechaNacimiento')?.errors">
                    <div *ngIf="formPerson.get('fechaNacimiento')?.errors?.['fechaNacimientoInvalida']">
                        <small class="text-danger"><strong>{{ formPerson.get('fechaNacimiento')?.errors?.['mensaje']
                                }}</strong></small>
                    </div>
                </div>
            </div>

        </form>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple [label]=" person.idPersona ? 'Actualizar': 'Guardar'" icon="pi pi-save"
            class="p-button-text" (click)="validateSaveAndUpdatePerson()"></button>
    </ng-template>
</p-dialog>



<!-- //WITH REFERENCES CONDITIONAL
      <div *ngIf="submitted; else notSubmittedContent">
       
        </div>
        <ng-template #notSubmittedContent>
 
        </ng-template>
        
-->