<div class="card p-3">

    <!-- <p>Width: {{ screenWidth }}px</p>
<p>Height: {{ screenHeight }}px</p> -->

    <p-toolbar styleClass="mb-3 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="openNewRazaAnimal()"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="listRazaAnimal" [lazy]="true" (onLazyLoad)="loadRazaAnimalLazy($event)" dataKey="id"
        [tableStyle]="{ 'min-width': '75rem' }" [paginator]="true" [rows]="4" [totalRecords]="totalRecords"
        [rowHover]="true" currentPageReportTemplate="Mostrando {first} to {last} of {totalRecords} tipos animales"
        [showCurrentPageReport]="true" [loading]="loading"
        [globalFilterFields]="['idRazaAnimal', 'nombreRaza', 'tipoAnimal.nombreTipo']">

        <ng-template pTemplate="caption">

            <div class="grid p-fluid align-items-center">
                <div class="col-12 md:col-8">
                    <div class="p-inputgroup">
                        <h5 class="m-0"><strong>Razas animales</strong></h5><br>
                    </div>
                </div>

                <div class="col-12 md:col-4">
                    <div class="p-inputgroup">
                        <input type="text" [(ngModel)]="valueAtribute" pInputText placeholder="Search by name raza.." />
                        <button type="button" pButton pRipple [class]="submitFindAtribute ? 'p-button-danger' : ''"
                            [icon]="'pi' + (submitFindAtribute ? ' pi-times' : ' pi-search')" styleClass="p-button-warn"
                            [disabled]="valueAtribute ? false: true"
                            (click)="submitFindAtribute ? clearInputAndStatus() : findByAtributeName() "></button>
                    </div>

                </div>

            </div>

        </ng-template>


        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="idRazaAnimal" style="min-width:15rem"><strong>ID</strong> <p-sortIcon
                        field="idRazaAnimal"></p-sortIcon></th>

                <th pSortableColumn="nombreRaza" style="min-width:15rem"><strong>NOMBRE</strong> <p-sortIcon
                        field="nombreRaza"></p-sortIcon>
                </th>

                <th pSortableColumn="tipoAnimal.nombreTipo" style="min-width:15rem"><strong>NOMBRE TIPO</strong>
                    <p-sortIcon field="tipoAnimal.nombreTipo"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-razaAnimal>
            <tr>

                <td>{{ razaAnimal.idRazaAnimal }}</td>
                <td>{{ razaAnimal.nombreRaza }}</td>
                <td>{{ razaAnimal.tipoAnimal.nombreTipo }}</td>

                <td>
                    <button pButton pRipple icon="pi pi-pencil"
                        class="p-button-rounded p-button-success p-button-outlined mr-2"
                        (click)="editRazaAnimal(razaAnimal)"></button>

                    <button pButton pRipple [icon]="razaAnimal.estadoRaza === 'A' ? 'pi pi-check' : 'pi pi-trash'"
                        [ngClass]="'p-button-rounded ' + (razaAnimal.estadoRaza === 'A' ? 'p-button-secondary' : 'p-button-danger') + ' p-button-outlined mt-1'"
                        (click)="eliminadoLogicoDeLosTiposAnimales(razaAnimal)">
                    </button>

                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">En total son {{ listRazaAnimal ?
                totalRecords : 0 }} Razas de animales.</div>
        </ng-template>
    </p-table>
</div>



<p-dialog [(visible)]="razaAnimalDialog" [style]="{ width: '450px', padding: screenWidth < 700 ? '10px' : '' }"
    header="Razas animales" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">


        <div class="field">
            <label for="nombreRaza"><strong>Tipo Raza</strong></label>

            <!--    [style]="{'max-height': '70px', 'overflow-y': 'auto'}" -->
            <p-dropdown [options]="listTipoAnimals"  [(ngModel)]="tipoAnimal" optionLabel="nombreTipo" [filter]="true"
                filterBy="nombreTipo" [showClear]="true" placeholder="Seleccione tipo" appendTo="body"
                [style]="{'overflow-y': 'auto'}">
                <ng-template pTemplate="selectedItem">

                    <div class="flex align-items-center gap-2" *ngIf="tipoAnimal">
                        <div>{{ tipoAnimal.nombreTipo }}</div>
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item" [style.max-height.rem]="2 * 2" >
                    <div class="flex align-items-center gap-2">
                        <div>{{ country.nombreTipo }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <small class="p-error" *ngIf="submitted && isEmpty(tipoAnimal)">Tipo animal is required.</small>

        </div>



        <div class="field">
            <label for="nombreRaza"><strong>Nombre Raza</strong></label>

            <span class="p-input-icon-right ">
                <i class="pi pi-info-circle"
                    [style.color]="submitted && !razaAnimal.nombreRaza || errorUnique ? 'red':''"></i>
                <input type="text"
                    [class]="submitted && (!razaAnimal.nombreRaza || errorUnique) ? 'ng-invalid ng-dirty':''"
                    id="nombreRaza" name="nombreRaza" placeholder="Nombre raza" pInputText
                    [(ngModel)]="razaAnimal.nombreRaza" required autofocus />
            </span>
            <small class="p-error" *ngIf="submitted && !razaAnimal.nombreRaza">Name is required.</small>
            <small class="p-error" *ngIf="submitted && !razaAnimal.nombreRaza || errorUnique">{{errorUnique}}</small>

        </div>


        <div *ngIf="razaAnimal.idRazaAnimal; else notRazaPresent">
            <div class="field" *ngIf="razaAnimal.idRazaAnimal">
                <label for="nombreRaza"><strong>Estado Raza</strong></label>

                <div class=" text-center">
                    <i [class]="'pi' + ( razaAnimal.estadoRaza === 'A' ? ' pi-verified' : ' pi-times-circle')"
                        [style]="'font-size: 4.5rem; color:' + (razaAnimal.estadoRaza === 'A' ? 'green': 'red') "></i>

                    <div class="text-content m-3">
                        <p-message icon="pi pi-exclamation-triangle"
                            [severity]="razaAnimal.estadoRaza === 'A' ? 'success' : 'error'"
                            [text]="razaAnimal.estadoRaza === 'A' ? 'RAZA ACTIVA' : 'RAZA INACTIVA'"></p-message>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #notRazaPresent>
            <div class=" text-center mt-6">
            <i class="pi pi-spin pi-cog"
                        style="font-size: 4.5rem; color: gray"></i>
</div>
        </ng-template>




    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple [label]=" razaAnimal.idRazaAnimal ? 'Actualizar': 'Guardar'" icon="pi pi-save"
            class="p-button-text" (click)="saveAndUpdateRazaAnimal()"></button>
    </ng-template>
</p-dialog>



<!-- //WITH REFERENCES CONDITIONAL
      <div *ngIf="submitted; else notSubmittedContent">
       
        </div>
        <ng-template #notSubmittedContent>
 
        </ng-template>
        
-->