h2 {
	font-size: 36px;
	margin-bottom: 15px;
}

h3 {
	font-size: 24px;
	font-weight: 500;
	color: rgba(34, 34, 34, 0.5);

	margin-bottom: 25px;
	margin-top: 0px;
}


.profile_container,
.back {
	margin: 60px 100px 0px;
	max-width: 1600px;
	display: flex;
	overflow-x: hidden;
}

.back {
	display: flex;
	align-items: center;
	color: rgba(34, 34, 34, 0.5);
}

.back i {
	margin-right: 15px;
}

.profile_img-LG {
	height: 400px;
	width: 300px;
	border-radius: 40px;
	object-fit: cover;
	object-position: 50% 50%;
	background-position: 40% 50%;
}

.flag_wrapper {
	width: 50px;
	height: 50px;
	background-color: #f2f2f2;
	border-radius: 100%;
	position: relative;
	top: -70px;
	left: 230px;
}

.flag {
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto auto;
	border-radius: 40px;

}

.description {
	margin-bottom: 30px;
	margin-top: 0px;
}

.profile_img_section {
	margin-right: 50px;
}

.profile_desc_section {
	display: flex;
	flex-direction: column;
	margin-left: 50px;
}


.link_img_wrapper {
	width: 40px;
	height: 40px;
	background-color: #f2f2f2;
	border-radius: 10px;
	position: relative;
}

.link_img {
	height: 20px;
	width: 20px;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto auto;
}

ul {
	padding: 0px;
}

li {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 5px;
}

li p {
	margin-left: 30px;
	color: rgba(34, 34, 34, 0.5);
}

@media screen and (max-width: 1000px) {
	.profile_container,
	.back {
		margin: 60px 33px 0px;
	}

	.profile_container {
		flex-direction: column;
	}

	.profile_img_section {
		margin: 0 auto;
	}

	.profile_img-LG {
		width: 300px;
		height: 300px;
		border-radius: 100%;
	}

	.profile_desc_section {
		margin-left: 0px;
		margin-bottom: 10px;
		margin-top: -40px;
	}

}




  /* Estilos para el perfil del usuario */
.profile-card {
	width: 100%;
	max-width: 800px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	margin: 20px;
  }
  
  /* Estilos para las imágenes */
  .profile_img_section {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
  }
  
  .profile_img-LG,
  .flag {
	max-width: 200px;
	max-height: 200px;
	border-radius: 50%;
	object-fit: cover;
  }
  
  .flag_wrapper {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 50%;
  }
  
  /* Estilos para la descripción del perfil */
  .profile_desc_section {
	text-align: center;
  }
  
  .profile_desc_section h2 {
	margin-bottom: 10px;
  }
  
  /* Ajustes para pantallas más pequeñas */
  @media (max-width: 768px) {
	.profile_container {
	  flex-direction: column;
	  align-items: center;
	}
  
	.profile_img_section {
	  margin-bottom: 10px;
	}
  
	.profile_img-LG,
	.flag {
	  max-width: 150px;
	  max-height: 150px;
	}
  
	.flag_wrapper {
	  max-width: 50px;
	  max-height: 50px;
	}
  
	.profile_desc_section h2 {
	  font-size: 1.2rem;
	}
  }