<p-card header="">
  <img class="card-img-top" src="../../../../assets/img/81c4ce.png" height="150px" />
  <div class="container">
    <div class="text-center">
      <img class="img-avatar rounded-circle" [src]='"https://bucketgtmt.s3.amazonaws.com/" + fundacion.logoFundacion' />
      <h1> {{fundacion.nombreFundacion}} </h1>
      <p style="text-align: center;">{{fundacion.acronimo}}</p>
    </div>
    <ul class="list-unstyled text-muted">
      <li><i class='bx bx-current-location m-2'></i> {{fundacion.direccion}}</li>
      <li><i class='bx bx-world m-2'></i> <a href={{fundacion.paginaWeb}}>{{fundacion.paginaWeb}}</a></li>
      <li><i class='bx bxs-calendar m-2'></i> {{fundacion.horarios}} </li>
    </ul>
    <p>{{fundacion.objetivo}}</p>
    <button type="button" (click)="showDialog()" class="btn btn-primarys m-2 card-img-top"
      style="align-items: center;">Actualizar</button>
  </div>
</p-card>

<!-- MODAL EDIT DATA -->
<p-dialog header="" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '70vw', height: '500vw'}" [draggable]="false" [resizable]="false">

  <form (ngSubmit)="updateFundacionById()" ngNativeValidate style="padding: 15px;">

    <div class="card flex justify-content-center">
      <div class="col-12 md:col-4 mt-1">
        <div class="p-inputgroup">
          <span class="p-float-label">
            <input type="file" accept="image/jpeg, image/jpg, image/png" (change)="onFileSelected($event)" />
          </span>
        </div>
      </div>
    </div>

    <p-card header="Datos Fundación" class="m-5 text-center align-items-center">
      <div class="grid p-fluid m-2">

        <div class="col-12 md:col-4 mt-1">
          <div class="p-inputgroup">
            <span class="p-float-label">
              <input type="text" pInputText id="ruc" name="ruc" [disabled]="true" title="Este campo no se puede editar"
                [(ngModel)]="fundacion.ruc" />
              <label htmlFor="ruc" class="pi pi-id-card"> Ruc <span class="red-asterisk"></span></label>
            </span>
          </div>
        </div>

        <div class="col-12 md:col-4 mt-1">
          <div class="p-inputgroup">
            <span class="p-float-label">
              <input type="text" pInputText id="nombreFundacion" name="nombreFundacion"
                [(ngModel)]="fundacion.nombreFundacion" />
              <label htmlFor="nombreFundacion" class="pi pi-user"> Nombre Fundacion <span
                  class="red-asterisk"></span></label>
            </span>
          </div>
        </div>

        <div class="col-12 md:col-4 mt-1">
          <div class="p-inputgroup">
            <span class="p-float-label">
              <input type="text" pInputText id="eslogan" name="eslogan" [(ngModel)]="fundacion.nombreFundacion" />
              <label htmlFor="eslogan" class="pi pi-user"> Eslogan <span class="red-asterisk"></span></label>
            </span>
          </div>
        </div>
      </div>

      <!-- FILA 2-->

      <div class="grid p-fluid m-2">
        <div class="col-12 md:col-6 mt-1">
          <div class="p-inputgroup">
            <span class="p-float-label">
              <input type="text" pInputText id="acronimo" name="acronimo" [(ngModel)]="fundacion.acronimo" />
              <label htmlFor="acronimo" class="pi pi-map-marker"> Acronimo <span class="red-asterisk"></span></label>
            </span>
          </div>
        </div>

        <div class="col-12 md:col-6 mt-1">
          <div class="p-inputgroup">
            <span class="p-float-label">
              <input type="text" pInputText id="correo" name="correo" [(ngModel)]="fundacion.correo" />
              <label htmlFor="correo" class="pi pi-user"> Correo<span class="red-asterisk"></span></label>
            </span>
          </div>
        </div>
      </div>

      <!-- FILA 3-->

      <div class="grid p-fluid m-2">
        <div class="col-12 md:col-4 mt-1">
          <div class="p-inputgroup">
            <span class="p-float-label">
              <input type="text" pInputText id="direccion" name="direccion" [(ngModel)]="fundacion.direccion" />
              <label htmlFor="direccion" class="pi pi-phone"> Direccion <span class="red-asterisk"></span></label>
            </span>
          </div>
        </div>
        <div class="col-12 md:col-4 mt-1">
          <div class="p-inputgroup">
            <span class="p-float-label">
              <input type="text" pInputText id="paginaWeb" name="paginaWeb" [(ngModel)]="fundacion.paginaWeb" />
              <label htmlFor="paginaWeb" class="pi pi-mobile"> Celular <span class="red-asterisk"></span></label>
            </span>
          </div>
        </div>
        <div class="col-12 md:col-4 mt-1">
          <div class="p-inputgroup">
            <span class="p-float-label">
              <input type="text" pInputText id="horarios" name="horarios" [(ngModel)]="fundacion.horarios" />
              <label htmlFor="horarios" class="pi pi-mobile"> horarios <span class="red-asterisk"></span></label>
            </span>
          </div>
        </div>
      </div>
      <div class="grid p-fluid m-2">
        <div class="col-12 md:col-12 mt-1">
          <div class="p-inputgroup">
            <span class="p-float-label">
              <textarea rows="5" cols="30" pInputTextarea pInputText id="objetivo" name="objetivo"
                [(ngModel)]="fundacion.objetivo">{{fundacion.objetivo}} </textarea>
              <label htmlFor="objetivo" class="pi pi-user"> Objetivo<span class="red-asterisk"></span></label>
            </span>
          </div>
        </div>
      </div>
      <div class="p-card-body">
        <div class="text-center">
          <button type="submit" pButton label="Actualizar" icon="pi pi-user"></button>
        </div>
      </div>
    </p-card>
  </form>

</p-dialog>